@import "./../../../../assets/styles/main.scss";


.selectedData {
  display: flex;
  flex-direction: column;
  gap: rem(24);
  width: 100%;

  @include lg{
    max-width: rem(800);
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: rem(60);
  width: 100%;

  .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .heading {
      display: flex;
      flex-direction: column;
      gap: rem(20);
      max-width: rem(580);
      text-align: center;

      .title {
        @include heading_light;
        color: getColorHex("black-dark");
        font-size: rem(22);
        font-weight: 500;
        line-height: rem(30);
        letter-spacing: rem(0.6);

        @include lg {
          line-height: rem(44);
          font-size: rem(32);
        }
      }

      .desc {
        color: getColorHex("green-metallic");
        font-size: rem(12);
        line-height: rem(20);
        letter-spacing: rem(0.2);

        @include lg {
          line-height: rem(22);
          font-size: rem(14);
        }
      }
    }

    .serviceCard {
      max-width: rem(800);
      width: 100%;
      border: rem(1) solid getColorHex("grey-mid");
      background: getColorHex("white");
      display: flex;
      align-items: center;
      padding: rem(16);
      gap: rem(24);
      cursor: pointer;
      position: relative;

      @include lg {
        padding: rem(28);
      }

      .serviceImage {
        display: flex;
        min-width: rem(32);
        width: rem(32);
        height: rem(43);
        object-fit: cover;

        @include lg {
          min-width: rem(113);
          height: rem(151);
        }
      }

      .serviceInfo {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: rem(12);
        .serviceTitle {
          @include heading_light;
          color: getColorHex("black-dark");
          font-size: rem(18);
          font-weight: 500;
          line-height: rem(26);
          letter-spacing: rem(0.4);

          @include lg {
            font-size: rem(26);
            line-height: rem(36);
            letter-spacing: rem(0.6);
          }
        }

        .serviceDesc {
          color: getColorHex("green-metallic");
          font-size: rem(12);
          line-height: rem(20);
          letter-spacing: rem(0.2);
          display: none;

          @include lg {
            display: block;
            font-size: rem(14);
            line-height: rem(22);
          }
        }
      }
    }

    .closeIcon {
      position: absolute;
      right: rem(29);
      top: rem(29);
      width: rem(12.73);
      height: rem(12.73);
    }

    .tabs {
      display: block;
      position: relative;
      width: 100%;
      max-width: rem(800);
      overflow-x: auto;
      white-space: nowrap;
      padding-bottom: rem(8);
      margin-top: rem(60);
      border-bottom: rem(1) solid getColorHex("grey-light");
      -webkit-overflow-scrolling: touch;
      scrollbar-width: none;
      -ms-overflow-style: none;
      text-align: center;

      @include lg {
        margin-top: rem(60);
      }
      &::-webkit-scrollbar {
        display: none;
      }

      .tabWrapper {
        display: inline-block;
      }

      .tabButton {
        @include heading_light;
        display: inline-block;
        background: none;
        border: none;
        padding: rem(8) rem(16);
        font-size: rem(14);
        line-height: rem(20);
        width: rem(112);
        text-transform: uppercase;
        color: getColorHex("grey-brown");
        cursor: pointer;
        position: relative;

        &:hover {
          color: getColorHex("black-dark");
        }

        @include lg {
          font-size: rem(16);
        }

        &::after {
          content: "";
          position: absolute;
          bottom: rem(-8);
          left: 0;
          right: 0;
          height: rem(1);
          background-color: getColorHex("chocolate-brown");
          transform: scaleX(0);
          transform-origin: center;
          transition: transform 0.3s ease;
        }
      }

      .activeTab {
        color: getColorHex("black-dark");

        &::after {
          transform: scaleX(1);
        }
      }
    }

    .mapContainer {
      // flex: 1;
      position: relative;
      width: 100%;
      height: rem(224);
      overflow: hidden;
      border-top-left-radius: rem(16);
      border-bottom-right-radius: rem(16);

      @include lg {
        //max-width: rem(647);
        width: 53.92%;
        height: rem(518);
        border-top-left-radius: rem(20);
        border-bottom-right-radius: rem(20);
      }
    }

    .storeListMapContainer {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: rem(800);
      margin-top: rem(32);

      @include lg {
        flex-direction: row;
        margin-top: rem(36);
        gap: rem(32);
      }
    }

    .storeList {
      display: flex;
      flex-direction: column;
      gap: rem(28);
      width: 100%;
      max-width: rem(800);
      margin-top: rem(20);

      order: 2;

      @include lg {
        margin-top: rem(32);
        order: 1;
      }
    }
    .storeItem {
      border-bottom: rem(1) solid getColorHex("grey-light");
      padding: rem(20 0);
      display: flex;
      flex-direction: column;
      gap: rem(8);
      cursor: pointer;

      @include lg {
        padding: rem(24 0);
      }

      border-radius: 0;
    }

    .selectedStoreItem {
      border: rem(1) solid getColorHex("black-dark");
      border-top-right-radius: rem(24);
      border-bottom-left-radius: rem(24);
      padding: rem(20);
      @include lg {
        padding: rem(24);
      }
    }

    .storeName {
      @include heading_light;
      color: getColorHex("black-dark");
      font-size: rem(18);
      margin-bottom: rem(12);

      @include lg {
        font-size: rem(26);
      }
    }

    .storeAddress {
      @include body_light;
      color: getColorHex("green-metallic");
      font-size: rem(14);
      display: flex;
      align-items: center;
      gap: rem(4);

      @include lg {
        font-size: rem(16);
      }
    }

    .toggleContainer{
      display: flex;
      width: 100%;
      max-width: rem(800);
      margin: 0 auto;
      justify-content: flex-end;
      margin-bottom: rem(32);

      @include lg{
        margin-bottom: rem(60);
      }
    }

    .mapViewContainer {
      position: relative;
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-between;
      align-items: flex-start;
      //margin-top: rem(20);
      width: 100%;
      max-width: rem(1200);
      gap: rem(20);

      @include lg {
        flex-direction: row;
        gap: rem(32);
      }

      & > div:first-child{

        & > div{

          @include lg{
            padding-bottom: rem(28);
          }

          & > div:first-child{
            margin-top: 0 !important;
          }
        }
      }
    }

    .noLocationsMessage{
      @include body_regular;
      text-align: center;
      display: flex;
      justify-content: center;
      width: 100%;
      max-width: rem(800);
      padding: 0 rem(28);
      margin: 0 auto;
    }
    
    .getDirections {
      color: getColorHex("black-dark");
      font-size: rem(14);
      text-decoration: underline;
      margin-top: rem(16);

      &:hover {
        color: getColorHex("green-metallic");
      }

      @include lg {
        margin-top: rem(36);
      }
    }

    .appointmentBtn {
      margin-top: rem(36);
    }
  }
}
