@import "./../../../assets/styles/main.scss";

.boutiqueBannerContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;

  &.primaryBackground {
    background-color: getColorHex("grey-light-6");
    background-image: url("/images/png/PatternGrey.png");
  }

  &.secondaryBackground {
    background-color: getColorHex("cream");
    background-image: url("/images/png/PatternLight.png");
  }

  &.defaultBackground {
    background-color: getColorHex("grey-light-6");
    background-image: url("/images/png/PatternGrey.png");
  }

  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;

  .innerContainer {
    width: 100%;
    max-width: rem(1440);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: rem(60) rem(28);

    @include lg {
      flex-direction: row;
      padding: rem(100 66);
    }
  }
}

.mediaContainer {
  flex: 1;
  margin-bottom: rem(32);

  img,
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: rem(8) rem(0) rem(8) rem(0);
  }

  @include lg {
    margin-bottom: rem(0);
  }
}

.contentContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  padding-left: rem(0);

  @include lg {
    padding-left: rem(80);

    [dir="rtl"] & {
      padding-right: rem(80);
    }
  }


  :global(.rolex) & {

    .title {
      color: getColorHex("rolex-brown");
    }

    .richTextContainer {
      color: getColorHex("black-dark");
    }

    button {
      @include rolex_regular;
    }
  
  }
}

.title {
  @include heading_light;
  margin-bottom: rem(12);
  color: getColorHex("black");
  width: 100%;
  [dir="rtl"] & {
    text-align: right;
  }


  h2 {
    font-size: rem(28);
    margin: 0;
  }

  @include lg {
    width: 80%;

    h2 {
      font-size: rem(40);
    }
    margin-bottom: rem(16);
  }
}

.richTextContainer {
  @include body_regular;
  margin-bottom: rem(24);
  font-size: rem(12);
  color: getColorHex("black-dark");
  width: 90%;
  line-height: rem(22);
  font-weight: 200;

  div {
    text-align: left;

    [dir="rtl"] & {
      text-align: right;
    }
  }

  @include lg {
    font-size: rem(16);
    margin-bottom: rem(28);
    line-height: rem(26);
    font-weight: 400;
    width: 65%;
  }
}
