@import "./../../../assets/styles/main.scss";

.container {
  width: 100%;
  height: rem(996);
  padding-top: rem(40);
  background: getColorHex("white");
  @include md {
    height: rem(742);
    padding-top: rem(60);
    & > div {
      gap: rem(0);
    }
  }
  .tabNavigation {
    width: 100%;
    height: rem(52);
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;

    @include sm{
      padding: 0 rem(20);
    }

    @include md {
      padding-left: rem(20);
      width: 100%;
      height: rem(68);
      width: rem(800);
    }
    & > div:first-child {
      white-space: nowrap;
      overflow-x: auto;
      scrollbar-width: none;
      width: 100%;
      & div {
        font-weight: 500;
        letter-spacing: rem(0.4);
        color: getColorHex("grey-brown");
        @include md {
          letter-spacing: rem(0.6);
          line-height: rem(28);
          font-size: rem(20);
        }

        [dir="rtl"] & {
          text-align: right;
        }
      }
      :global([class*="activeTab__"]) {
        border-bottom: rem(2) solid getColorHex("midnight-brown");
        color: getColorHex("midnight-brown");
      }
    }
  }

  .subContainer {
    width: 100%;
    padding: 0 rem(28);

    @include md {
      max-width: rem(1440);
      height: rem(614);
      padding: rem(40) rem(20);
      display: flex;
      align-items: center;
      justify-content: center;
      gap: rem(28);
    }
    @include lg{
      padding: rem(80) rem(60);
    }
    .tabContent {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      
      @include md {
        max-width: rem(1000);
        padding: rem(0) rem(8);
        flex-direction: row-reverse;
        justify-content: center;
        gap: rem(36);
        
        &.imageReverse {
          flex-direction: row;
        }
      }
      @include lg{
        padding: rem(0) rem(40);
        gap: rem(120);
        
      }
      .image {
        width: 100%;
        aspect-ratio: 1/1;
        height: auto;
        gap: rem(17.76);
        border-radius: rem(16) 0 rem(16) 0;
        object-fit: cover;
        object-position: center;
        display: block;
        
        @include md {
          width: rem(454);
          //height: rem(454);
          aspect-ratio: 1/1;
        }
      }
      .textSection {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: rem(15);
        
        @include md {
          width: rem(346);
          //height: rem(454);
          gap: rem(10);
        }
        .text {
          width: 100%;
          height: auto;
          gap: rem(24);
          margin-bottom: rem(15);

          @include md {
            width: rem(346);
            margin-top: rem(0);
          }
          .title {
            @include heading_regular;
            font-size: rem(26);
            letter-spacing: rem(0.6);
            font-weight: 500;
            line-height: rem(32);
            text-transform: uppercase;
            color: getColorHex("opulent-bronze");
            @include md {
              width: rem(346);
              margin-top: rem(0);
            }
          }

          .description {
            height: auto;
            gap: rem(10);
            @include body_regular;
            font-size: rem(16);
            line-height: rem(26);
            font-weight: 400;
            letter-spacing: rem(0.2);
            color: getColorHex("black-dark");

            p{
              margin: 0;
            }
          }
        }
        .viewAllButton {
          display: flex;
          &.alignLeft {
            justify-content: flex-start;
            
            [dir="rtl"] & {
              justify-content: flex-end;

            }
          }
        
          &.alignCenter {
            justify-content: center;
          }
        
          &.alignRight {
            justify-content: flex-end;

            [dir="rtl"] & {
              justify-content: flex-start;

            }

          }        
          .ctaButton {
            
          }
        }
      }
    }
  }
}
