@import "./../../../../assets/styles/main.scss";
@import "./../../../../assets/styles/rolex/rolexMain.scss";

.headingSecondary {
  margin: rem(8) 0;
  color: getColorHex("black-raisin");
  font-size: rem(16);
  font-style: normal;
  line-height: rem(24);
}

.container {
  display: flex;
  flex-direction: column;
  gap: rem(60);
  padding: 0 rem(28);
  width: 100%;
  margin: 0 auto;
  // overflow: hidden;
  align-items: center;

  @include md {
    padding: 0 rem(60);
    gap: rem(90);
  }

  @include xl {
    padding: 0 rem(120);
  }

  &.white {
    background: getColorHex("white");
  }

  &.beige {
    background: getColorHex("beige");
  }

  &.grey_pampas {
    background: getColorHex("grey-pampas");
  }

  &.grey_light {
    background: getColorHex("grey-light");
  }

  .oneGridContainer,
  .twoGridsContainer {
    display: flex;
    flex-direction: column;
    gap: rem(16);
    @include iphone12-fix {
      gap: unset;
      & > * {
        padding-bottom: rem(16);
      }
      & > *:last-child {
        padding-bottom: rem(0);
      }
    }
    max-width: rem(1220);

    .imageTextsContainer {
      width: 100%;
    }
  }

  .oneGridContainer {
    .mainTitle {
      @include rolex_bold;
      font-size: rem(18);
      letter-spacing: rem(0.4);
      line-height: rem(26);
       color: getColorHex("rolex-brown");
      margin: 0;

      @include md {
         color: getColorHex("rolex-brown");
        font-size: rem(28);
        line-height: rem(32);
      }
    }
  }

  .twoGridsContainer {
    gap: rem(20);

    .mainTitle {
      @include md {
        margin-bottom: rem(4);
      }
    }

    .mainTitle {
      @include rolex_bold;
      font-size: rem(18);
      // letter-spacing: rem(0.4);
      line-height: rem(26);
      color: getColorHex("rolex-brown");
      margin: 0;
      font-weight: 700;

      @include md {
        font-size: rem(28);
        // letter-spacing: rem(0.6);
        line-height: rem(32);
      }
    }
  }

  .mainTitle {
    @include rolex_bold;
    font-size: rem(18);
    letter-spacing: rem(0.4);
    line-height: rem(26);
     color: getColorHex("rolex-brown");
    margin: 0;

    @include md {
      font-size: rem(28);
      // letter-spacing: rem(0.6);
      line-height: rem(32);
    }
  }

  .imageTextsWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: rem(60);
    @include iphone12-fix {
      gap: unset;
      & > * {
        margin-bottom: rem(40);
      }
      & > *:last-child {
        margin-bottom: rem(0);
      }
    }
    @include md {
      flex-direction: row;
      column-gap: rem(12);
    }
  }

  .imageTextsContainer {
    display: flex;
    flex-direction: column;
    gap: rem(16);
    width: 100%;
    @include iphone12-fix {
      gap: unset;
      & > * {
        padding-bottom: rem(16);
      }
      & > *:last-child {
        padding-bottom: rem(0);
      }
    }
    @include md {
      width: calc(50% - 18px);
    }
  }

  .imageContainer {
    display: flex;
    outline: none;
    aspect-ratio: 1/1;
    // min-height: rem(340);
    min-height: rem(335);

    @include md {
      aspect-ratio: auto;
      min-height: auto;
    }

    img {
      display: flex;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .textsContainer {
    display: flex;
    flex-direction: column;
    // gap: rem(8);

    // @include md {
    //   gap: rem(16);
    // }
  }

  .subtitle {
    @include rolex_bold;
    // letter-spacing: rem(0.4);
     color: getColorHex("rolex-brown");
    display: block;
    font-size: rem(12);
    margin: 0;
    font-weight: 700;
    line-height: rem(16);

    @include md {
      //color: getColorHex("green-dark");
    }

    &:empty {
      display: none;
    }
  }

  .title {
    @include rolex_bold;
    font-size: rem(28);
    font-weight: 700;
    line-height: rem(32);
    // letter-spacing: rem(0.4);
    //  color: getColorHex("rolex-brown");
    // color: getColorHex("rolex-brown");
    color: getColorHex("rolex-brown");
    display: block;
    margin: 0;

    @include md {
      letter-spacing: rem(0.6);
    }

    &:empty {
      display: none;
    }
  }

  .link {
    align-self: flex-start;
    margin: 0;
    width: auto;
    outline: none;
    margin-top: rem(8);
    font-size: rem(12);
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: rem(8);

    [dir="rtl"] & {
      align-self: flex-end;
    }

    /*&::after{
      content: "";
      display: flex;
      width: 100%;
      height: rem(1);
      background: getColorHex("rolex-green");
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 0.3s ease;
    }

    @include md {
      &:hover{
        &::after{
          transform: scaleX(1);
        }
      }
    }*/

    &:empty {
      display: none;
    }
  }

  .sliderSwiper {
    overflow: visible;

    & > div {
      & + div {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: none;
        background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='32' height='32' rx='16' fill='%23F2F2F2'/%3E%3Cg clip-path='url(%23clip0_210_5134)'%3E%3Cpath d='M20.5 16L19.2 17.4L13.1 23.5L11.6 22L17.7 15.9L11.5 9.9L13 8.5L19.1 14.6L20.5 16Z' fill='%23212121'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_210_5134'%3E%3Crect width='15' height='15' fill='white' transform='translate(8.5 8.5)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-size: rem(32);
        width: rem(32);
        height: rem(32);

        @include md {
          display: block;
        }

        &:after {
          content: none;
        }

        &:global(.swiper-button-prev) {
          transform: translateY(-50%) rotate(-180deg);

          @include md {
            display: flex;
            left: rem(-22);
          }

          @include xl {
            left: rem(-44);
          }
        }

        &:global(.swiper-button-next) {
          @include md {
            display: flex;
            right: rem(-22);
          }

          @include xl {
            right: rem(-44);
          }
        }

        &:global(.swiper-button-disabled) {
          display: none;
        }
      }
    }
  }

  .sliderSlide {
    display: flex;
    flex-direction: column;
    max-width: rem(159);
    width: 100%;
    transition: opacity 0.3s ease;

    @include md {
      max-width: none;
    }

    &.hiddenSlide {
      opacity: 0;
      pointer-events: none;
    }
  }

  .sliderLink {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(16);
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    width: 100%;
  }

  .sliderText {
    font-family: sans-serif;
    font-size: rem(14);
    font-weight: 700;
    letter-spacing: rem(0.4);
    line-height: rem(22);
    color: getColorHex("black-dark");
    display: flex;
    width: 100%;
    margin: 0;
    text-align: left;

    @include md {
      font-size: rem(20);
      line-height: rem(28);
      letter-spacing: rem(0.6);
    }

    [dir="rtl"] & {
      text-align: right;
    }
  }

  .sliderButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: none;
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='32' height='32' rx='16' fill='%23F2F2F2'/%3E%3Cg clip-path='url(%23clip0_210_5134)'%3E%3Cpath d='M20.5 16L19.2 17.4L13.1 23.5L11.6 22L17.7 15.9L11.5 9.9L13 8.5L19.1 14.6L20.5 16Z' fill='%23212121'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_210_5134'%3E%3Crect width='15' height='15' fill='white' transform='translate(8.5 8.5)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-size: rem(32);
    width: rem(32);
    height: rem(32);

    @include md {
      display: block;
    }
  }

  .sliderButtonPrev {
    transform: translateY(-50%) rotate(-180deg);

    @include md {
      left: rem(-22);
    }

    @include xl {
      left: rem(-44);
    }
  }

  .sliderButtonNext {
    @include md {
      right: rem(-22);
    }

    @include xl {
      right: rem(-44);
    }
  }
}
