@import "./../../../../assets/styles/main.scss";

.introContainer {
  position: relative;
  overflow: hidden;
}

.container {
  width: 100%;
  height: rem(950);
  transition: transform 0.5s ease;
}

.titleSection {
  display: flex;
  flex-direction: column;
  gap: rem(16);
  position: absolute;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  max-width: rem(580);

  .heading {
    @include heading_regular;
    color: getColorHex("opulent-bronze");
    text-align: center;
    font-size: rem(48);
    font-weight: 500;
    line-height: rem(54);
    letter-spacing: rem(0.4);
    text-transform: uppercase;
    margin: 0;
  }

  .description {
    @include body_regular;
    color: getColorHex("black-dark");
    text-align: center;
    font-size: rem(16);
    line-height: rem(26);
    letter-spacing: rem(0.2);
  }
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  border-radius: rem(16) 0;
}

.image1,
.image3,
.image4,
.image6 {
  width: rem(340) !important;
  height: rem(454) !important;
  align-items: flex-start;
  border-radius: rem(16) 0;
  transition: all 0.3s;

  &:hover {
    .exploreContainer {
      opacity: 1;
      visibility: visible;
    }
  }
}

.image2,
.image5 {
  justify-content: center;
  align-items: center;
  border-radius: rem(16) 0;
  transition: all 0.3s;

  &:hover {
    .exploreContainer {
      opacity: 1;
      visibility: visible;
    }
  }
}

.image1 {
  position: absolute !important;
  top: rem(-150);
  left: rem(59);
}

.image2 {
  position: absolute !important;
  width: rem(390);
  height: rem(260);
  top: rem(-21);
  left: 50%;
  transform: translateX(-50%);
}
.image3 {
  position: absolute !important;
  top: rem(-30) !important;
  right: rem(-30) !important;
}
.image4 {
  position: absolute !important;
  left: rem(-66) !important;
  bottom: rem(-38) !important;
}
.image5 {
  position: absolute !important;
  bottom: rem(-17) !important;
  width: rem(490);
  height: rem(327);
  left: 50%;
  transform: translateX(-50%);
}
.image6 {
  position: absolute !important;
  bottom: rem(-210) !important;
  right: rem(-6) !important;
}

.imageClass {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 101;
  border-radius: rem(16) 0;
}

.exploreContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  border-radius: rem(16) 0;
  background-color: getColorHex("black-dark", 0.5);
  cursor: pointer;
  transition: all 1s;
  z-index: 102;

  .exploreBtn {
    width: rem(72);
    height: rem(72);
    border-radius: rem(120);
    background: getColorHex("white", 0.8);
    color: getColorHex("midnight-brown");
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
    font-size: rem(10);
    line-height: rem(14);
    letter-spacing: rem(0.2);
    text-transform: uppercase;
  }

}
