@import "./../../../assets/styles/main.scss";

.hotspotContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  row-gap: 0;

  @include sm{
    
  }

  @include md{
   row-gap: rem(44);
  }

  @include lg{
    row-gap: rem(77);
  }

  .hotspotWrapperTop{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    max-width: rem(1160);
    margin: 0 auto;
    min-height: rem(500);

    @include md{
      width: 88.96%;
    }
  }

  .hotspotWrapperBottom{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    max-width: rem(1440);
    margin: 0 auto;
    min-height: rem(500);
  }

  .mainTitleDescContainer{
    display: flex;
    flex-direction: column;
    row-gap: rem(8);
    position: relative;
    width: 100%;
    padding: 0 rem(28);
    margin: 0 0 rem(58);

    @include md{
      row-gap: rem(16);
      position: absolute;
      left: 0;
      top: 0;
      width: 32%;
      max-width: rem(360);
      padding: 0;
      margin: 0;
    }

    h2{
      @include heading_regular;
      font-weight: 500;
      font-size: rem(28);
      line-height: rem(34);
      letter-spacing: rem(0.4);
      text-transform: uppercase;
      color: getColorHex("black-dark");
      display: block;
      margin: 0;

      @include md{
        font-size: rem(40);
        line-height: rem(46);
      }
    }

    p{
      @include body_regular;
      font-weight: 500;
      font-size: rem(14);
      line-height: rem(22);
      letter-spacing: rem(0.2);
      color: getColorHex("grey");
      display: block;
      margin: 0;

      @include md{
        font-size: rem(16);
        line-height: rem(26);
      }
    }
  }

  [dir="rtl"] & {
    .mainTitleDescContainer{
      left: auto;
      right: 0;
    }
  }
}

