@import "./../../../assets/styles/main.scss";

.linksContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  padding: 0;
  margin: 0;
  gap: rem(24);

  span.appointmentBtn {
    max-width: rem(250);
    text-underline-offset: rem(10);
    @include breakpoint-max-width(rem(1299)) {
      display: none;
    }
  }

  .links {
    @include heading_light;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    width: 100%;
    gap: rem(26);


    @include breakpoint-min-width(rem(1299)) {
      justify-content: center;
      gap: rem(20);
    }

    .headerLink {
      padding: rem(7 0);
      cursor: pointer;
      color: getColorHex("black-dark");
      @include heading_light;
      transition: all 0.3s;
      font-size: rem(14);
      line-height: rem(20);
      letter-spacing: rem(0.4);
      text-transform: uppercase;
      margin-top: rem(9);
      display: inline-block;

      &::after {
        margin-top: rem(7);
        content: "";
        display: block;
        width: 0;
        height: rem(2);
        background-color: getColorHex("opulent-bronze");
        transition: width 0.3s;
      }

      &:hover::after {
        width: 100%;
      }
    }

    .headerLinkActive {
      border-bottom: rem(2) solid getColorHex("black-dark");
    }
  }

  .navIcons {
    width: rem(250);
    display: flex;
    align-items: center;
    gap: rem(24);
    justify-content: flex-end;

    @include breakpoint-max-width(rem(1299)) {
      display: none;
    }

    svg {
      cursor: pointer;
    }
  }
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: rem(12);
  min-width: rem(180);

  @include breakpoint-max-width(rem(1299)) {
    display: none;
  }

  &.scrolled {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
  }

  .rolexLogo {
    width: rem(78.65);
    height: rem(46);
  }

  .patekLogo {
    width: rem(116);
    max-height: rem(68);
  }
}

.drawerStyle {
  position: fixed;
  top: rem(70);
  right: 0;
  height: 100%;
  width: 100%;
  background-color: getColorHex("white");
  transform: translateX(100%);
  transition: transform 0.3s ease;
  z-index: 1000;
}

.drawerStyle.visible {
  transform: translateX(0);
}

.phoneIcon {
  width: rem(24);
  height: rem(24);
}
