@import "./../../../assets/styles/main.scss";

.container {
  display: flex;
  //flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  row-gap: rem(32);
  column-gap: 0;
  width: 100%;
  justify-content: center;
  padding: 0 rem(28);
  max-width: rem(1440);
  margin: 0 auto;

  @include md {
    flex-direction: row;
    row-gap: 0;
    column-gap: 10.7%;
    padding: 0 rem(60);
  }

  @include xl{
    padding: 0 10.97%;
  }

  [dir="rtl"] & {
    text-align: center;
  }

  p{
    margin: 0;
  }

  .columnOne,
  .columnTwo {
    display: flex;
    margin: 0; //0 rem(32);
    flex-direction: column;
    gap: rem(32);
    overflow: hidden;
    //max-width: rem(502);
    width: 100%;
    position: relative;

    @include md {
      width: 50%;
      gap: rem(60);
    }

    .textsContainer{
      display: flex;
      flex-direction: column;
      gap: rem(16);

      @include md{
        gap: rem(24);
      }
    }

    .imageCardContainer{
      display: block;
      width: auto;
      position: relative;
    }

    .columnContent {
      display: flex;
      flex-direction: column;
      gap: rem(24);
      align-items: center;

      [dir="rtl"] & {
        align-items: center;
      }
    }
    .image {
      object-fit: cover;
      height: rem(448);
      overflow: hidden;

      @include md {
        padding: 0;
        width: 100%; //rem(502);
        height: rem(700);
      }
    }
  }
}

.headingSecondary {
  line-height: rem(26);
  letter-spacing: rem(0.4);
  color: getColorHex("black");
  @include body_regular;
}

.label {
  color: getColorHex("black");
  @include body_regular;
  font-size: rem(16);
  font-weight: 400;
  line-height: rem(26);
  letter-spacing: rem(0.2);
  text-transform: uppercase;
  margin: 0;
}

.titleColor {
  color: getColorHex("opulent-bronze");
  font-weight: 500;
}

.subTitleColor {
  color: getColorHex("grey");
}

.barColor {
  background: getColorHex("metallic");
  margin: 0 auto;
}

.desc {
  color: getColorHex("black-dark");
  text-align: center;
}

.bar {
  width: rem(70);
  height: rem(2);
  background: getColorHex("metallic");
}

.heritageCardColumnOne {
  position: absolute;
  left: rem(24);
  right: rem(24);
  bottom: rem(24);
  z-index: 10;

  @include md {
    left: rem(40);
    right: rem(40);
    bottom: rem(48);
  }
}

.heritageCardColumnTwo {
  position: absolute;
  left: rem(24);
  right: rem(24);
  bottom: rem(24);
  z-index: rem(10);

  @include md {
    left: rem(40);
    right: rem(40);
    bottom: rem(48);
  }
}

.heritageArticleCardContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: rem(10);
  background-color: getColorHex("white");
  padding: rem(20);
  box-sizing: border-box;
  @include md {
    padding: rem(40);
  }
}

.articleDate {
  color: getColorHex("black");
  font-size: rem(12);
  font-weight: 400;
  line-height: rem(20);
  letter-spacing: rem(0.4);
  text-align: left;
  align-items: flex-start;

  @include md {
    font-size: rem(14);
    //padding-bottom: rem(5);
  }
}

.articleTitle {
  font-weight: 500;
  margin-block-end: rem(0);
  margin-block-start: rem(0);
  text-align: left;
  align-items: flex-start;
  line-height: rem(26);
  letter-spacing: rem(0.4);
  color: getColorHex("opulent-bronze");
  [dir="rtl"] & {
   text-align: right;
  }

  @include md{
    line-height: rem(36);
    letter-spacing: rem(0.6);
  }
}

.articleDescription {
  text-align: left;
  color: getColorHex("black-dark");
  font-size: rem(14);
  font-weight: 300;
  line-height: rem(22);
  letter-spacing: rem(0.2);
  align-items: flex-start;
  @include md {
    font-size: rem(16);
    letter-spacing: rem(0.2);
    line-height: rem(26);
  }

  [dir="rtl"] & {
    text-align: right;
   }
}

.customBarColor {
  padding-bottom: rem(10);
  @include md {
    padding-bottom: rem(40);
  }
}

.articleRightCta, .articleLeftCta{
  margin-top: rem(10);
  text-transform: none;

  @include md{
    margin-top: rem(14);
  }
}
