@import "./../../../assets/styles/main.scss";

.popupContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: rem(32) rem(28);
  z-index: 10000;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  &.isShowing {
    pointer-events: all;
    opacity: 1;
  }
}

.underlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(getColorHex("black-dark"), 0.6);background: rgba(getColorHex("black-dark"), 0.6);
}

.popupContentsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: rem(60) rem(28) rem(28);
  background: getColorHex("white");
  width: 100%;
  max-width: rem(600);
  height: auto;
  z-index: 1;
  gap: rem(36);
  border-top-left-radius: rem(32);
  -webkit-border-top-left-radius: rem(32);
  -moz-border-radius-topleft: rem(32);
  position: relative;

  @include md {
    padding: rem(100) rem(60) rem(60);
    border-radius: 0;
  }
}

.closeButton {
  position: absolute;
  top: rem(28);
  right: rem(28);
  border: none;
  background: none;
  padding: 0;
  margin: 0;

  @include md {
    top: rem(60);
    right: rem(60);
  }

  svg {
    width: rem(24);
    height: rem(24);

    @include md {
      width: rem(40);
      height: rem(40);
    }
  }
}