@import "../../assets/styles/main.scss";

 
.mapWrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.mapCanvas {
  width: 100%;
  height: 100%;
}

.zoomControls {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  z-index: 2;
}

.zoomButton { 
  background: transparent;
  border: none; 
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}
