@import "./../../../../assets/styles/main.scss";

// PRODUCT DESCRIPTION POPUP
.description {
  @include body_regular;
  color: getColorHex("green-metallic");
  font-size: rem(16);
  line-height: rem(26);
  letter-spacing: rem(0.4);
}

.accordianDesc {
  margin: 0;
  gap: rem(5);
  padding: 0;
  .descItem {
    display: flex;
    align-items: center;
    color: getColorHex("green-metallic");
    font-size: rem(16);
    line-height: rem(26);
    letter-spacing: rem(0.4);
    @include body_regular;
  }
}

.bullet {
  border-radius: 50%;
  height: rem(3);
  width: rem(3);
  background-color: getColorHex("green-metallic");
  margin: 0 rem(20);
}

.title {
  padding: rem(7 0);
  cursor: pointer;
  color: getColorHex("black-dark");
  border-bottom: rem(2) solid getColorHex("black-dark", 0);
  @include heading_light;
  transition: all 0.3s;
  font-size: rem(14);
  text-transform: uppercase;
  margin-bottom: rem(16);
  margin-top: rem(32);
  @include md {
    font-size: rem(20);
  }
}

.desc {
  color: getColorHex("black-dark");
  font-size: rem(14);
  font-weight: 300;
  line-height: rem(22);
  letter-spacing: rem(0.4);
}

.icons {
  display: flex;
  gap: rem(24);
  margin-top: rem(36);

  svg {
    cursor: pointer;
  }
}
