@import "./../../../../assets/styles/rolex/rolexMain.scss";

.container {
  display: flex;
  flex-direction: column;
  gap: rem(40);
  width: 100%;
  margin: 0 auto;
  padding: 0 rem(28);

  @include lg{
    gap: rem(90);
    padding: 0 rem(60);
  }

  &.white {
    background: getColorHex("white");
  }

  &.beige {
    background: getColorHex("beige");
  }

  &.grey_pampas {
    background: getColorHex("grey-pampas");
  }

  &.grey_light {
    background: getColorHex("grey-light");
  }
}

.topContents, .bottomContents{
  display: flex;
  flex-direction: column;
  gap: rem(20);
  width: 100%;
  max-width: rem(620);
  margin: 0 auto;

  .logoContainer{
    display: flex;
    position: relative;
    width: auto;
    height: auto;

    img{
      display: flex;
      height: 100%;
      max-height: rem(70);
      object-fit: contain;
      object-position: 0;

      @include lg{
        max-height: rem(60);
      }
    }
  }

  h2{
    @include rolex_bold;
    font-size: rem(28);
    line-height: rem(34);
    letter-spacing: 0;
    color: getColorHex("rolex-brown");
    display: block;
    width: 100%;
    margin: 0;
    text-align: left;

    [dir="rtl"] & {
      text-align: right;
    }

    @include lg{
      font-size: rem(40);
      line-height: rem(46);
    }

    &:empty{
      display: none;
    }
  }

  // p{
  //   @include rolex_regular;
  //   font-size: rem(16);
  //   line-height: rem(24);
  //   letter-spacing: 0;
  //   color: getColorHex("rolex-black");
  //   display: block;
  //   width: 100%;
  //   margin: 0;
  //   text-align: left;

  //   [dir="rtl"] & {
  //     text-align: right;
  //   }

  //   &:empty{
  //     display: none;
  //   }
  // }

  .btnContainer{
    display: flex;

    .ctaButton{
      @include rolex_bold;
      display: flex;
      height: rem(36);
      justify-content: center;
      align-items: center;
      border-radius: rem(100);
      background-color: getColorHex("rolex-green");
      color: getColorHex("white");
      text-align: center;
      font-size: rem(12);
      line-height: rem(16);
      padding: 0 rem(10);
      width: 100%;
      max-width: rem(149);
      letter-spacing: 0;
    }
  }
}

.imageContainer{
  display: flex;
  margin: 0 auto;
  justify-content: center;
  
  &.landscape{
    max-width: 100%;
    //max-height: rem(738.47);
    width: 100%;
    min-height: rem(448);
    aspect-ratio: 3/4;

    @include md{
      max-width: 76.22%;
      min-height: auto;
      aspect-ratio: auto;
    }
  }

  &.portrait{
    aspect-ratio: 3/4;
    max-width: rem(337.98);
    //max-height: rem(433.31);
    width: 100%;

    @include md{
      max-width: 45.46%;
      //max-height: rem(700);
    }
  }

  &.square{
    aspect-ratio: 3/4;
    max-width: rem(620);
    min-height: rem(448);
    width: 100%;

    @include md{
      min-height: auto;
      aspect-ratio: 1/1;
    }
  }

  picture{
    display: flex;
    height: 100%;
  }

  img{
    object-fit: cover;
  }
}
 
.desktopOnly {
  display: none;   

  @include md{
    display: flex;  
  }
}

.mobileOnly {
  display: flex;   

  @include md {
    display: none; 
  }
}

