@import "./../../../../../assets/styles/rolex/rolexMain.scss";

.productContainer {
  background-color: getColorHex("beige");
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  transition: background-color 0.3s ease;
  width: 100%;
  outline: none;

  &::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: getColorHex("black", 0);;
    transition: background-color 0.3s ease;
  }

  &:hover {

    &::after{
      background-color: getColorHex("black", 0.03);
    }
  }

  .productTop {
    display: none;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;

    svg {
      margin: rem(16);
    }
  }

  .newContainer {
    padding: rem(6 12);
    background-color: getColorHex("green-greyish");
    display: inline-block;
    gap: rem(10);
    border-radius: rem(4);
    cursor: pointer;
    margin: rem(16);

    .new {
      font-size: rem(10);
      font-weight: 400;
      line-height: rem(14);
      letter-spacing: rem(0.4);
      text-align: left;
      color: getColorHex("black-dark");
      text-transform: uppercase;
    }
  }

  .productBottom {
    display: block;
    flex-direction: column;
    padding: 0 rem(20) rem(30);
    
    @include md{
      padding: 0 rem(30) rem(50);
    }

    @include lg{
      padding: 0 rem(50) rem(50);
    }


    .title,
    .price {
      @include rolex_regular; 
      text-transform: uppercase;
      
      [dir="rtl"] & { 
       text-align: right;
      }
    }

    .brandName, .description {

      p{
        @include rolex_bold;
        font-size: rem(12);
        line-height: rem(16);
        color: getColorHex("rolex-brown");
        display: block;
        margin: 0;
        text-align: left;

        [dir="rtl"] & {
          text-align: right;
        }

        &:empty{
          display: none;
        }
      }
    }

    .description{

      p{
        @include rolex_regular;
      }
    }

    .modelName {

      h4{
        @include rolex_bold;
        font-size: rem(20);
        line-height: rem(28);
        letter-spacing: rem(0.4);
        color: getColorHex("rolex-brown");
        display: block;
        margin: 0 0 rem(5);
        text-align: left;

        [dir="rtl"] & {
          text-align: right;
        }

        &:empty{
          display: none;
        }
      }
    }
  }

  

  .imgContainer {
    position: relative;
    width: 100%;
    margin: rem(40) auto 0;
    z-index: 10;
    aspect-ratio: 3/4;
    max-width: rem(320);
  }


  .carouselBtnsContainer {

    * {
      color: getColorHex("grey-light-5");
      fill: getColorHex("grey-light-5");
    }

    .carouselBtns_carouselBtn {
      background-color: getColorHex("grey-light-5");
    }
    .carouselBtns_activeCarouselBtn {
      border: 0.0625rem solid getColorHex("metallic");
    }

  }

  .productBadgeContainer{
    display: flex;
    width: 100%;
    padding-left: rem(10);
    margin: rem(10) 0;
    @include lg{
      padding-left: rem(20);
      margin: rem(20) 0;
    }
  }
}
