@import "./../../../../assets/styles/main.scss";

.bookingContainer {
    display: flex;
    flex-direction: column;
    background-color: getColorHex("white");
    width: 100%;
    border: rem(1) solid getColorHex("grey-light");
    padding: rem(28);
  
    .header {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: rem(12);

      .editIcon {
        cursor: pointer;
      }
    }
  
    h4 {
      margin: 0;
      margin-bottom: rem(8);
    }

    ul {
      padding-left: rem(24);
      margin: 0;
    }
  
    .bookingInfo {
      color: getColorHex("grey");
      font-size: rem(16);
      line-height: rem(26);
      letter-spacing: rem(0.2);
    }
  
    @include md {
      max-width: rem(800);
    }
  }