@import "./../../../../assets/styles/main.scss";

.container {
  display: flex;
  align-items: center;
  position: relative;
  flex-direction: column;
  margin: rem(0) auto;
  height: 100%;
  gap: rem(39.2);
  max-width: rem(1440);

  @include lg {
    height: rem(820);
    flex-direction: row;
    gap: rem(0);
    margin: 0 auto;
  }
}

.imgContainer {
  width: 100%;
  height: rem(460);
  position: relative;
  cursor: zoom-in;
  width: 70%;
  margin: 0 auto;

  @include lg {
    height: rem(828);
  }

  .image {
    width: 100%;
    height: 100%;
    // object-fit: contain;
  }
}

.backBtn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  left: rem(24);
  gap: rem(8);
  position: absolute;
  z-index: 100;
  cursor: pointer;
  font-size: rem(10);
  top: rem(14);

  svg {
    transform: rotate(180deg);
    width: rem(6);
    height: rem(12);
  }
}

.exclusive {
  display: flex;
  //padding: rem(6 12);
  align-items: center;
  gap: rem(10);
  border-radius: rem(4) 0 rem(4) 0;
  //background: getColorHex("metallic");
  color: getColorHex("white");
  top: rem(0);
  left: rem(0);
  z-index: 100;
  margin-right: rem(20);

  @include body_regular;
  font-size: rem(10);
  line-height: rem(14);
  letter-spacing: rem(0.4);
  text-transform: uppercase;
  position: relative;

  @include lg {
    position: absolute;
    top: rem(60);
    left: rem(56);
  }
}

.carousel {
  position: relative;
  width: 100%;
  height: rem(460);
  cursor: pointer;
  max-width: 100%;

  @include lg {
    //flex: 2;
    width: 60%;
    max-width: rem(820);
    height: 100%;
    //flex: 1;
  }

  .image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .plus {
    display: flex;
    width: rem(28);
    height: rem(28);
    justify-content: center;
    align-items: center;
    border-radius: rem(40);
    background: getColorHex("metallic-grey");
    position: absolute;
    left: rem(20);
    z-index: 1;
    cursor: pointer;
    bottom: rem(0);

    @include lg {
      width: rem(40);
      height: rem(40);
      bottom: rem(75);
      left: rem(40);
    }
  }

  .leftBtn,
  .rightBtn {
    width: rem(28);
    height: rem(28);
    border-radius: rem(12) 0 rem(12);
    border-radius: rem(40);
    background: getColorHex("grey-light");
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);

    @include lg {
      width: rem(40);
      height: rem(40);
    }

    .arrowLeft {
      transform: rotate(180deg);
    }

    svg {
      @include md-max{
        height: rem(9);
      }
    }
  }
  .leftBtn {
    left: rem(16);
    @include lg {
      left: rem(40);
    }
  }
  .rightBtn {
    right: rem(16);
    @include lg {
      right: rem(40);
    }
  }

  .disabled {
    opacity: 0.3;  
    cursor: default;
  }

  .threesixty {
    display: flex;
    flex-direction: column;
    gap: rem(6);
    align-items: center;
    width: rem(25);
    position: absolute;
    right: rem(20);
    bottom: rem(0);
    z-index: 1;

    .degree {
      color: getColorHex("midnight-brown");
      text-align: center;
      @include body_regular;
      font-size: rem(12);
      font-weight: 500;
      line-height: rem(14);
      text-transform: uppercase;
    }

    @include lg {
      bottom: rem(75);
      right: rem(55);
    }
  }

  .carouselBtns {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 1000;
    bottom: rem(0);

    @include lg {
      bottom: rem(34);
    }
  }
}

// Right Section
.right {
  padding: rem(28);
  width: 100%;
  display: flex;
  max-width: 100%;
  padding: 0 rem(28);

  .productDetails {
    width: 100%;

    @include lg {
      //max-width: rem(320);
    }
      .sharePopup > div:last-of-type {
          width: rem(336);
          height: rem(336);
          border-radius: rem(0);
      
          @include md {
            width: rem(500);
            height: rem(500);
          }
        }
  }
  

  @include lg {
    //flex: 1.2;
    margin: 0 rem(40);
    max-width: rem(620);
    width: 50%;
    padding: 0;
  }

  @include xl{
    margin: 0 rem(80);
  }
  // @include breakpoint-max-width(rem(1460)) {
  //   margin-left: auto;
  //   margin-right: auto;
  // }
}

.save {
  display: flex;
  justify-content: flex-end;
  height: 100%;

  position: absolute;
  right: rem(28);

  @include lg {
    position: relative;
    flex: 1;
  }

  svg {
    margin-top: rem(6);
  }
}

// Product Details
.productDetails {
  display: flex;
  flex-direction: column;
  gap: rem(32);
  max-width: 100%;

  @include lg {
    max-width: rem(320);
    flex: 4;
  }

  .brand {
    display: flex;
    align-items: center;
    color: getColorHex("black-dark");
    @include heading_light;
    font-size: rem(14);
    line-height: rem(20);
    letter-spacing: rem(0.4);
    text-transform: uppercase;

    @include lg {
      font-size: rem(16);
    }
  }

  .title {
    @include heading_light;
    font-size: rem(22);
    font-style: normal;
    font-weight: 500;
    line-height: rem(30);
    letter-spacing: rem(0.6);
    text-transform: uppercase;
    color: getColorHex("black-dark");

    @include lg {
      font-size: rem(32);
      line-height: rem(36);
    }
  }

  .price {
    color: getColorHex("black-dark");
    @include heading_light;
    font-size: rem(18);
    font-style: normal;
    font-weight: 500;
    line-height: rem(28);
    letter-spacing: rem(0.6);
    text-transform: uppercase;

    @include lg {
      font-size: rem(20);
    }
  }
}

.productHead {
  display: flex;
  flex-direction: column;
  gap: rem(16);
}

.Variant {
  display: flex;
  align-items: center;
}

.size,
.color {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: rem(12);
  cursor: pointer;
  flex: 1;
  border-bottom: 1px solid getColorHex("grey-light-5");
  margin-right: rem(20);

  &:last-child {
    margin-right: 0;
  }

  .label {
    color: getColorHex("grey");
    @include body_regular;
    font-size: rem(12);
    font-weight: 400;
    line-height: rem(20);
    letter-spacing: rem(0.4);

    @include lg {
      font-size: rem(14);
      line-height: rem(22);
    }
  }
}

// .boutiqueBtn {
//   background: getColrHex("metallic");
// }

// Appointment Section
.appointment {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .appointmentLeft {
    display: flex;
    align-items: center;
    gap: rem(16);
  }

  .appointmentBtn {
    text-transform: capitalize;
    color: getColorHex("grey-mid");
    @include body_regular;
    font-size: rem(14);
    font-style: normal;
    line-height: rem(16);
    letter-spacing: rem(1);
    text-transform: capitalize;

    @include lg {
      line-height: rem(18);
    }
  }
}

.productText {
  display: flex;
  flex-direction: column;
  gap: rem(8);

  .productLabel {
    @include heading_light;
    color: getColorHex("black-dark");
    font-size: rem(14);
    line-height: rem(20);
    letter-spacing: rem(0.4);
    text-transform: uppercase;

    @include lg {
      font-size: rem(16);
    }
  }

  .productDesc {
    @include body_regular;
    color: getColorHex("grey");
    font-size: rem(14);
    line-height: rem(22);
    letter-spacing: rem(0.4);

    @include lg {
      font-size: rem(16);
      line-height: rem(26);
    }
  }

  .readMore {
    color: getColorHex("black-dark");
    @include body_regular;
    font-size: rem(14);
    line-height: rem(18);
    letter-spacing: rem(1);
    text-transform: capitalize;
  }
}

.bottom {
  display: flex;
  align-items: center;
  gap: rem(16);

  @include lg {
    justify-content: flex-start;
  }

  @include breakpoint-max-width(rem(1460)) {
    gap: rem(10);
    justify-content: space-between;
  }

  .tab {
    @include body_regular;
    font-size: rem(12);
    line-height: rem(20);
    letter-spacing: rem(0.4);
    text-align: left;
    cursor: pointer;

    @include lg {
      font-size: rem(16);
      line-height: rem(26);
    }
  }

  .vline {
    color: getColorHex("grey-light-5");
    @include body_regular;
    width: rem(2);
    height: rem(16);
    background-color: getColorHex("grey-light-5");
    font-size: rem(14);
    line-height: rem(18);
    letter-spacing: rem(1);
    text-transform: capitalize;
  }
}

.noEditView {
  justify-content: flex-start;
}

.errorMessage {
  font-size: rem(12);
  color: getColorHex("red");
  margin-top: rem(5);
}

.shareButton{
  display: inline-flex;
  width: auto;
  height: auto;
  background: none;
  border: 0;
  border-radius: 0;
  padding: 0;
}

.popupContent > div{
  padding: rem(100) 0 rem(100);

  @include md{
    padding: rem(180) 0 rem(100);
  }
}