@import "./../../../assets/styles/main.scss";

.familyCarousel {
  display: flex;
  max-width: rem(1440);
  flex-direction: column;
  text-align: center;
  height: auto;
  @include lg {
    margin: rem(80) auto;
  }

  .heading {
    h2 {
      color: getColorHex("opulent-bronze");
      margin: 0;
      @include heading_regular;
      font-size: rem(28);
      font-weight: 500;
      line-height: rem(34);
      letter-spacing: rem(0.4);

      @include md {
        line-height: rem(46);
        font-size: rem(40);
      }
    }
  }

  .description {
    p {
      @include body_regular;
      color: getColorHex("black-dark");
      font-size: rem(14);
      font-weight: 400;
      line-height: rem(22);
      letter-spacing: rem(0.4);
      margin-top: rem(14);

      @include md {
        font-size: rem(16);
        line-height: rem(26);
        letter-spacing: rem(0.2);
        margin-top: rem(20);
      }
    }
  }
  .buttonWrapper {
    width: 100%;
    min-height: rem(520);
    display: flex;
    flex-direction: column;
    align-items: center;
    @include lg {
      min-height: rem(750);
    }
    .mySwiper {
      width: 100%;
      margin-top: rem(48);
      position: relative;

      :global(.swiper-wrapper) {
        align-items: flex-start;
        @include lg {
          align-items: center;
          min-height: rem(676);
        }
      }

      .slide {
        flex: 0 0 rem(250);
        width: rem(250);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: all 0.2s ease-in-out;
        margin: rem(0 10);
        cursor: pointer;
        will-change: transform;   

        @include lg {
          flex: 0 0 rem(300);
          width: rem(300);
          margin: rem(0 14);
          transition: all 0.5s ease-in-out;
        }

        .familyContainer {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;
          height: 100%;
          width: 100%;

          @include lg {
            justify-content: center;
          }

          .image {
            width: rem(250);
            height: rem(333);
            object-fit: cover;
            border-radius: rem(16) 0 rem(16) 0;
            transition: all 0.6s ease-in-out;
            @include lg {
              width: rem(300);
              height: rem(400);
            }
          }

          .textContainer {
            margin-top: rem(20);
            text-align: center;
            min-height: rem(8);
            transition: opacity 0.6s ease-in-out, visibility 0.6s ease-in-out;
            opacity: 0;
            visibility: hidden;
            &.active {
              opacity: 1;
              visibility: visible;
            }

            &.inactive {
              opacity: 0;
              visibility: hidden;
            }

            .nameSource {
              h5 {
                margin: 0;
                line-height: rem(20);
                font-size: rem(14);
                color: getColorHex("opulent-bronze");
              }
            }

            .nameDesignation {
              p {
                margin-top: rem(4);
                font-size: rem(12);
                color: getColorHex("grey");
              }
            }

            @include lg {
              margin-top: rem(32);

              .nameSource {
                h5 {
                  margin: 0;
                  line-height: rem(28);
                  font-size: rem(20);
                }
              }

              .nameDesignation {
                p {
                  margin-top: rem(8);
                  font-size: rem(14);
                  line-height: rem(22);
                  color: getColorHex("black-dark");
                }
              }
            }
          }
        }
      }

      .activeSlide {
        width: rem(276);
        flex: 0 0 rem(276);
        transition: all 0.2s ease; 
        .familyContainer {
          .image {
            width: 100%; 
            height: rem(368);
            transition: all 0.2 ds ease; 
          }
        }
        @include lg {
          width: rem(398);
          flex: 0 0 rem(398);
          transition: width 0.5s ease-in-out;

          .familyContainer {
            .image {
              height: rem(530);
              transition: all 0.5s ease; 
            }
          }
        }
      }
    }
    .ctaButton {
      margin-top: rem(8);

      button,
      a {
        text-decoration: underline;
        text-transform: capitalize;
        text-underline-offset: rem(4);

        span:hover::after {
          content: none;
          width: 100%;
          height: rem(2);
          background: unset;
          transition: none;
        }
      }
      @include lg {
        margin-top: rem(12);
      }
    }
  }
  .popupContent {
    display: block;
    width: 100%;
    max-width: rem(1440);
    overflow-y: auto;
    margin-top: rem(32);
    text-align: left;

    @include lg {
      display: flex;
      flex-direction: row;
      gap: rem(50);
      justify-content: center;
      align-items: flex-start;
      margin-top: 0;
    }

    @include xl{
      gap: rem(100);
    }

    .popupLeft {
      display: flex;
      justify-content: center;
      width: 100%;

      @include lg{
        width: 50%;
        max-width: 400px;
      }

      picture{
        display: flex;
        aspect-ratio: 3 / 4;
        height: 100%;
      }
      
      .popupImage {
        width: rem(336);
        height: 100%; //rem(440);
        object-fit: cover;
        border-radius: rem(16) 0 rem(16) 0;

        @include lg {
          width: rem(400);
          //height: rem(535);
        }
      }
    }

    .popupRight {
      text-align: center;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      width: 100%;
      @include lg {
        max-width: rem(540);
      }

      [dir="rtl"] & {
        text-align: right;
      }

      .popupName {
        margin-top: rem(40);
        @include lg {
          margin-top: 0;
        }
        h2 {
          @include heading_light;
          color: getColorHex("opulent-bronze");
          font-size: rem(28);
          line-height: rem(34);
          font-weight: 500;
          margin: 0;
          @include lg {
            font-size: rem(40);
            line-height: rem(46);
          }
        }
      }
      .popupDescription {
        @include body_regular;
        color: getColorHex("black-dark");
        font-size: rem(14);
        line-height: rem(22);
        margin-top: rem(8);
        @include lg {
          margin-top: rem(10);
          font-size: rem(16);
          line-height: rem(26);
        }
      }
      .popupQuotes {
        margin-top: rem(52);
        @include lg {
          margin-top: rem(68);
        }
        h3 {
          margin: 0;
          font-size: rem(22);
          line-height: rem(30);
          font-weight: 500;
          letter-spacing: rem(0.6);
          color: getColorHex("green-dark");
          @include lg {
            font-size: rem(32);
            line-height: rem(44);
            font-weight: 500;
            letter-spacing: rem(0.6);
          }
        }
        // .quoteBlock {
        //   @include heading_regular;
        //   color: getColorHex("chocolate-brown");
        //   font-size: rem(80);
        // }
        .quoteLeft,
        .quoteRight {
          font-size: rem(60);
          font-weight: 500;
          color: getColorHex("chocolate-brown");
          display: inline-block;
          // margin: 0 rem(15);
          @include lg {
            font-size: rem(80);
          }
        }
        .quoteLeft {
          transform: translateY(rem(7));
          vertical-align: top;
          margin-right: rem(15);
          @include lg {
            transform: translateY(rem(10));
          }

          [dir="rtl"] & {
            margin-right: rem(0);
            margin-left: rem(15);
            vertical-align: super;
            transform: rotate(180deg) translateY(rem(-7));
          }
        }

        .quoteRight {
          transform: translateY(rem(22));
          margin-left: rem(15);

          vertical-align: bottom;
          @include lg {
            transform: translateY(rem(33));
          }

          
          [dir="rtl"] & {
            margin-right: rem(15);
            margin-left: rem(0);
            vertical-align: bottom;
            transform: rotate(180deg) translateY(rem(-22));
          }
        }
      }
    }
  }

  .popupContentsOverride {
    [class*="popupContentsContainer"] {
      max-width: rem(1440);
      max-height: rem(1000);
      height: 100%;
    }
    [class*="closeButton"] {
      cursor: pointer;

      [dir="rtl"] & {
        left: rem(28);
        right: auto;
        @include md {
          left: rem(60);
        }
      }

      @include md {
        top: rem(60);
        right: rem(60);
      }

      svg {
        width: rem(24);
        height: rem(24);

        @include md {
          width: rem(40);
          height: rem(40);
        }
      }
    }
  }
}
