@import "./../../../../assets/styles/main.scss";

.container {
  position: relative;
}

.backBtn {
  @include body_regular;
  position: absolute;
  top: rem(20);
  left: rem(80);
  display: flex;
  align-items: center;
  gap: rem(8);
  cursor: pointer;

  div {
    color: getColorHex("grey");
    font-size: 10px;
    line-height: rem(14);
    letter-spacing: rem(0.2);
  }

  .arrow {
    transform: rotate(90deg);
    width: rem(10);
    height: rem(12);
  }
}

.resetPasswordContainer {
  text-align: center;
  max-width: rem(560);
  height: rem(600);
  margin: 0 auto;
  padding: rem(80 0);
}

.heading {
  @include heading_light;
  color: getColorHex("black-dark");
  text-align: center;
  font-size: rem(26);
  font-weight: 500;
  line-height: rem(36);
  letter-spacing: rem(0.6);
  margin: 0;
  margin-bottom: rem(20);
}

.description {
  @include body_regular;
  color: getColorHex("grey");
  text-align: center;

  font-size: rem(16);
  font-weight: 400;
  line-height: rem(26);
  letter-spacing: rem(0.2);
  margin-bottom: rem(40);
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: rem(36);
}

.resetBtn {
  width: rem(260);
}

.submitButton {
}
