@import "./../../../../assets/styles/main.scss";

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  gap: rem(20);
  flex-direction: column;

  @include md {
    gap: rem(40);
    flex-direction: row;
  }

  &.isRow{
    flex-direction: column;

    @include md {
      flex-direction: row;
    }
  }
}

.leftSide,
.rightSide {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rightSide {
  display: flex;
  flex-direction: column;
  align-items: center;
  //justify-content: flex-end;
  gap: rem(32);
  
  @include md {
    gap: rem(62);

  }
}

.signin {
  padding-top: rem(32);
  width: 100%;
}

.otpContainer {
  display: flex;
  flex-direction: column;
  gap: rem(20);
  align-items: stretch;
  padding-top: 0;
  width: 100%;

  @include md{
    padding-top: rem(32);
    gap: rem(40);
    height: 100%;
  }
}

.forgotBtn {
  text-transform: capitalize;
  margin-top: rem(8);
}

.submitBtnContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: rem(36);
}
.submitBtn {
  width: rem(252);
}

.formGroup {
  flex-direction: column;
  gap: rem(40);
  display: flex;
}

.formGroupPhone {
  display: flex;
  gap: rem(12);
  width: 100%;

  div:last-child {
    width: 100%;
  }
}

.orDivider {
  font-size: rem(14);
  color: getColorHex("grey-mid");
  //margin-bottom: rem(-20);
  
  border-radius: rem(16) 0;
  background-color: getColorHex("grey-light");
  display: flex;
  padding: rem(12);
  justify-content: center;
  align-items: center;
  width: rem(46);
  height: rem(44);
  margin: 0 auto;
}

.oneBtn {
  width: 100%;
  max-width: rem(252);
  color: getColorHex("midnight_brown");
  //margin-top: rem(62);
  margin: rem(12) auto 0;

  @include md{
    margin: auto auto 0;
  }
}
