@import "../../../../assets/styles/main.scss";

.tabsSwiper {
    display: flex;
    padding: 0;
    border-bottom: rem(1) solid getColorHex("grey-light");
    width: 100%;
    margin: rem(32) 0 rem(28);
  
    @include lg {
      align-self: center;
      margin: rem(60) auto rem(32);
      max-width: rem(800);
    }
  }
  
  .tabsSwiperSlide{
    width: auto;
    min-width: 33.33%;
  
    &:last-child{
      margin-right: 0 !important;
  
      [dir="rtl"] & {
        margin-left: 0 !important;
      }
    }
  
    .tabButton{
      @include heading_light;
      font-size: rem(14);
      line-height: rem(20);
      font-weight: 500;
      letter-spacing: rem(0.4);
      color: getColorHex("brown-grey");
      display: flex;
      justify-content: center;
      width: 100%;
      background: none;
      padding: 0 rem(10) rem(8);
      border: none;
      text-align: center;
      text-transform: uppercase;
      transition: all 0.3s ease;
      position: relative;
      box-sizing: border-box;

      [dir="rtl"] & {
        justify-content: flex-start;
        padding-right: 0;
      }
  
      &::after{
        content: "";
        background: getColorHex("chocolate-brown");
        width: 100%;
        height: rem(2);
        position: absolute;
        bottom: 0;
        transform-origin: center;
        transition: transform 0.3s ease;
        transform: scaleX(0);
      }
  
      @include md{
        font-size: rem(16);
        font-weight: 400;
      }
  
      &.active{
        color: getColorHex("black-dark");
        pointer-events: none;
  
        &::after{
          transform: scaleX(1);
        }
      }
  
      &:hover{
        color: getColorHex("black-dark");
        //border-bottom: rem(2) solid rgba(getColorHex("chocolate-brown"), 1);
  
        &::after{
          transform: scaleX(1);
        }
      }
    }
  }