@import "./../../../../assets/styles/main.scss";

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: rem(60);
  max-width: rem(1076);
  margin: 0 auto;

  .heading {
    display: flex;
    flex-direction: column;
    gap: rem(20);
    max-width: rem(580);
    text-align: center;
    .title {
      @include heading_light;
      color: getColorHex("black-dark");
      font-size: rem(22);
      font-weight: 500;
      line-height: rem(30);
      letter-spacing: rem(0.6);

      @include md {
        line-height: rem(44);
        font-size: rem(32);
      }
    }

    .desc {
      color: getColorHex("green-metallic");
      // font-family: TheSansArabic;
      font-size: rem(12);
      line-height: rem(20);
      letter-spacing: rem(0.2);

      @include md {
        line-height: rem(22);
        font-size: rem(14);
      }
    }
  }
}

.serviceCards {
  display: flex;
  gap: rem(32); //rem(40);
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;

  @include md{
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 3.8%;
  }

  & > div{
    display: flex;
  }
}

.serviceCard {
  border: rem(1) solid getColorHex("grey-light");
  background: getColorHex("white");
  display: flex;
  align-items: center;
  padding: rem(16);
  gap: rem(20);
  //max-width: rem(518);
  width: 100%;
  flex-wrap: nowrap;

  @include md {
    gap: rem(24);
    padding: rem(32);
  }

  .serviceImage {
    display: flex;
    min-width: rem(120);
    width: rem(120);
    height: rem(160);
    object-fit: cover;

    @include md {
      min-width: rem(170);
      min-width: rem(170);
      height: rem(227);
    }
  }

  .serviceInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: rem(12);
    .serviceTitle {
      @include heading_light;
      color: getColorHex("black-dark");
      font-size: rem(18);
      font-weight: 500;
      line-height: rem(26);
      letter-spacing: rem(0.4);

      @include md {
        font-size: rem(26);
        line-height: rem(36);
        letter-spacing: rem(0.6);
      }
    }

    .serviceDesc {
      color: getColorHex("green-metallic");
      font-size: rem(12);
      line-height: rem(20);
      letter-spacing: rem(0.2);

      @include md {
        font-size: rem(14);
        line-height: rem(22);
      }
    }
  }
}
