@import "./../../../../assets/styles/rolex/rolexMain.scss";

.container {
  padding: 0 7%;
  margin: auto;
  background-color: getColorHex("grey-pampas");

  @include md{
    padding: 0 8%;
  }

  &.white {
    background: getColorHex("white");
  }

  &.beige {
    background: getColorHex("beige");
  }

  &.grey_pampas {
    background: getColorHex("grey-pampas");
  }

  &.grey_light {
    background: getColorHex("grey-light");
  }

  .contentComponent {
    display: grid;
    grid-row-end: span 2;
    grid-column-end: span 1;

    [dir="rtl"] & {
      text-align: right;
    }

    @include md {
      grid-row-end: span 2;
      grid-column-end: span 3;
    }

    @include lg {
      grid-row-end: span 2;
      grid-column-end: span 4;
    }
  }
}

.mainWrapper{
  display: block;
  width: 100%;
  max-width: rem(1920);
  margin: 0 auto;
}

.collectionTitle{
  display: block;
  margin: 0 0 rem(40);

  @include md{
    margin: 0 0 rem(50);
  }

  h2{
    @include rolex_bold;
    font-size: rem(28);
    line-height: rem(34);
    letter-spacing: 0;
    color: getColorHex("rolex-brown");
    display: block;
    width: 100%;
    margin: 0;
    text-align: center;

    @include lg{
      font-size: rem(40);
      line-height: rem(46);
    }

    &:empty{
      display: none;
    }
  }
}

.productCardsContainer{
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: rem(6); 
  justify-items: center;
  position: relative;
  transition: background-color 0.3s ease;

  @include md {
    grid-template-columns: repeat(3, 1fr); 
    gap: rem(8);
  }
}

.productInfo {
  @include rolex_regular;
  font-size: rem(14);
  font-weight: 400;
  line-height: rem(20);
  letter-spacing: rem(0.4);
  text-align: center;
}

.bottom {
  display: flex;
  flex-direction: column;
  gap: rem(20);
  align-items: center;
  margin: rem(40 0 0);

  
  [dir="rtl"] & {
    align-items: flex-start;
  }

  &:empty{
    display: none;
  }

  button{
    @include rolex_bold;
    display: flex;
    height: rem(36);
    justify-content: center;
    align-items: center;
    border-radius: rem(100);
    background-color: getColorHex("rolex-green");
    color: getColorHex("white");
    text-align: center;
    font-size: rem(12);
    line-height: rem(16);
    padding: 0 rem(10);
    width: 100%;
    max-width: rem(149);
    letter-spacing: 0;
    text-transform: none;
  }
}

.loadMore {
  background-color: getColorHex("green-dark");
}

