@import "./../../../assets/styles/main.scss";

.position {
  background-color: getColorHex("white");
  position: fixed;
  width: 100%;
  z-index: 9999;
  top: 0;
  height: rem(80);
  transition: all 0.3s ease-in-out;
  // background-color: orange;
}

.tabNavigation {
  margin-top: rem(36);
  width: 100%;
  padding: 0 rem(28);
}


.languageSelector {
  padding:  0 rem(28);
  margin: 0;

  div {
    margin: 0;
  }
}