@import "./../../../assets/styles/main.scss";

.genericAccordion {
  width: 100%;
  max-width: rem(846);
  padding: 0 rem(28);
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  &.noPadding {
    padding: 0;
  }

  .title {
    @include heading_regular;
    color: getColorHex("opulent-bronze");
    font-weight: 500;
    font-size: rem(34);
    line-height: rem(40);
    letter-spacing: rem(0.4);
    text-transform: uppercase;
    margin-bottom: rem(12);

    [dir="rtl"] & {
      text-align: right;
    }

    @include md {
      font-size: rem(48);
      line-height: rem(54);
      margin-bottom: rem(28);
    }

    p {
      margin: 0;
    }
  }

  .richText {
    color: getColorHex("green-metallic");

    & > div {
      display: flex;
      flex-direction: column;
      gap: rem(16);

      @include md {
        gap: rem(20);
      }
    }

    @include body_regular;
    font-weight: 400;
    font-size: rem(14);
    line-height: rem(22);
    letter-spacing: rem(0.2);
    margin-bottom: rem(32);

    @include md {
      font-size: rem(16);
      line-height: rem(26);
      margin-bottom: rem(40);
    }

    p {
      margin: 0;
    }
  }

  &Item {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: rem(20) 0;
    border: 0;
    border-bottom: rem(1) solid getColorHex("grey-light");
    border-radius: 0;

    @include md {
      padding: rem(24) 0;
    }

    &:first-child {
      border-top: rem(1) solid getColorHex("grey-light");
    }
  }

  &Button {
    @include body_regular;
    font-size: rem(16);
    line-height: rem(26);
    font-weight: 400;
    letter-spacing: rem(0.2);
    color: getColorHex("green-dark");
    display: flex;
    width: 100%;
    gap: rem(10);
    justify-content: space-between;
    align-items: center;
    background: none;
    border-radius: 0;
    border: none;
    padding: 0;
    text-transform: uppercase;
    text-align: start;

    @include md {
      font-size: rem(18);
      line-height: rem(28);
    }

    &::after {
      content: "";
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.9998 19.2906V12.0906M11.9998 12.0906H19.1998M11.9998 12.0906V4.89062M11.9998 12.0906H4.7998' stroke='%23282828'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-size: rem(24);
      width: rem(24);
      height: rem(24);
      transition: all 0.3s ease;
      flex-shrink: 0;
    }

    &.isOpen {
      &::after {
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='3' y1='11.5898' x2='21' y2='11.5898' stroke='%23282828'/%3E%3C/svg%3E");
      }
    }
  }

  .richTextContainer {
    color: getColorHex("grey");
    font-size: rem(14);

    @include md {
      font-size: rem(16);
    }

    & > div {
      display: flex;
      flex-direction: column;
      gap: rem(16);

      @include md {
        gap: rem(20);
      }
    }
  }

  &Content {
    display: flex;
    flex-direction: column;
    max-height: 0;
    margin: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
  }

  &.arrow {
    .genericAccordionButton {
      &::after {
        content: "";
        background-image: url("data:image/svg+xml,%3Csvg width='12' height='6' viewBox='0 0 12 6' fill='none' xmlns='http://www.w3.org/2000/svg' style='transition: 0.3s;'%3E%3Cmask id='path-1-inside-1_4912_958' fill='white'%3E%3Cpath d='M0 -5.24537e-07L6 6L12 0'%3E%3C/path%3E%3C/mask%3E%3Cpath d='M6 6L5.29289 6.70711L6.70711 6.70711L6 6ZM-0.707107 0.707106L5.29289 6.70711L6.70711 5.29289L0.707107 -0.707107L-0.707107 0.707106ZM6.70711 6.70711L12.7071 0.707107L11.2929 -0.707107L5.29289 5.29289L6.70711 6.70711Z' fill='%23271610' mask='url(%23path-1-inside-1_4912_958)'%3E%3C/path%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-size: rem(12) rem(6);
        width: rem(12);
        height: rem(6);
        transition: all 0.3s ease;
      }

      &.isOpen {
        &::after {
          transform: rotate(180deg);
        }
      }
    }
  }
}
