@import "./../../../assets/styles/main.scss";

.spacing {
  width: 100%;
  height: var(--spacer-mobile-height, 60px);
  background-color: getColorHex(var(--spacer-background-color, "red"));

  @include lg {
    height: var(--spacer-desktop-height, 120px);
  }
}

.metallic {
  background-color: getColorHex("metallic");
}

.bronze-grey {
  background-color: getColorHex("bronze-grey");
}

.green-dark {
  background-color: getColorHex("green-dark");
}

.black {
  background-color: getColorHex("black");
}

.white {
  background-color: getColorHex("white");
}

.grey-light {
  background-color: getColorHex("grey-light");
}

.light-cream {
  background-color: getColorHex("light-cream");
}
.grey-pampas {
  background-color: getColorHex("grey-pampas");
}

.beige {
  background: getColorHex("beige");
}
.cream {
  background-color: getColorHex("cream");
}
