@import "./../../../assets/styles/main.scss";

.heroBanner {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;

  .heroBannerContainer {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    z-index: 1;
  }

  .containerImg {
    height: 100%;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
    z-index: 1;
  }

  .carouselBtnsContainer {
    position: absolute;
    bottom: rem(28);
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    @include md {
      bottom: rem(41);
    }

    * {
      color: getColorHex("white");
      fill: getColorHex("white");
    }

    .carouselBtns_carouselBtn {
      background-color: getColorHex("white");
    }
    .carouselBtns_activeCarouselBtn {
      border: 0.0625rem solid getColorHex("white");
    }

    .carouselBtns_arrowLeft,
    .carouselBtns_arrowRight {
      fill: getColorHex("white");
    }
  }
}

.fullWidth {
  width: 100%;
  height: rem(742) !important;
  // height: calc(100vh - 121px);
  @include md {
    // height: calc(100vh - 222px);
    height: rem(880) !important;
  }

  .imgClass,
  video {
    min-height: rem(400);
    // height: calc(100vh - 121px) !important;
    height: rem(742) !important;
    @include md {
      min-height: rem(400);
      // height: calc(100vh - 222px) !important;
      height: rem(880) !important;
    }
  }
}

.mediumWidth {
  width: 100%;
  min-height: rem(400);
  height: calc(100vh - 121px) !important;
  max-height: rem(660);

  @include md {
    height: calc(100vh - 222px) !important;
    max-height: rem(680);
    height: rem(680);
  }

  .imgClass,
  video {
    width: 100%;
    min-height: rem(400);
    height: calc(100vh - 121px) !important;
    max-height: rem(660);
    @include md {
      // height: calc(100vh - 222px) !important;
      max-height: rem(680);
      height: rem(680);
    }
  }
}
.smallWidth {
  width: 100%;
  height: rem(340);
  overflow: hidden;

  @include md {
    height: rem(420);
    max-height: rem(420);
  }

  .imgClass,
  video {
    height: rem(340) !important;
    @include md {
      height: rem(420) !important;
    }
  }
}