@import "./../../../../assets/styles/main.scss";

.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: rem(44);
}
.doubleForm {
  display: grid;
  grid-template-columns: 1fr;
  gap: rem(40);

  @include md {
    grid-template-columns: 1fr 1fr;
  }

  &.fullWidth{
    grid-template-columns: 1fr;

    @include md{
      grid-template-columns: 1fr 1fr;
    }
  }
}

.optionSelector {
  display: flex;
  gap: rem(12);
  flex-direction: column;

  @include md {
    flex-direction: row;
  }

  div:last-child {
    width: 100%;
  }
}

.fullWidthOption {
  flex-direction: column;
}

.slidingSwitch {
  display: flex;
  align-items: center;
  gap: rem(14);
  flex-direction: row-reverse;
  justify-content: space-between;

  @include md{
    flex-direction: row;
    justify-content: flex-start;
  }
}
.slidingSwitchReverse {
  display: flex;
  align-items: center;
  gap: rem(14);
  flex-direction: row-reverse;
  justify-content: space-between;
}
.switchLabel {
  color: getColorHex("grey");
  font-size: rem(10);
  line-height: rem(14);
  letter-spacing: rem(0.2);
}

.submitBtnContainer {
  width: 100%;
  margin: rem(40 0);
  display: flex;
  justify-content: center;
}
.submitBtn {
  width: rem(264);
}

.passwordCriteriaColumn {
  grid-template-columns: 1fr;
}

.passwordCriteria {
  margin-top: rem(10);
  display: grid;
  grid-template-columns: 1fr;

  @include md {
    grid-template-columns: 1fr 1fr;
  }

  div {
    font-size: rem(14);
    margin: rem(5) 0;
    display: flex;
    align-items: center;
  }

  .valid {
    color: getColorHex("grey");
    display: flex;
    align-items: center;
    gap: rem(8);
    font-size: rem(10);
    line-height: rem(14);
    letter-spacing: rem(0.2);
  }

  .invalid {
    color: getColorHex("dark-red");
  }
}



.formGroupPhone {
  display: flex;
  gap: rem(12);
  width: 100%;

  div:last-child {
    width: 100%;
  }
}

.helperText {
  @include body_regular;
  color: getColorHex("black-dark");
  margin-top: rem(8);
  font-size: rem(10);
  line-height: rem(14);
  letter-spacing: rem(0.2);
  text-align: left;
}
