@import "./../../../assets/styles/main.scss";

.accountPageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: rem(40) rem(28);
  max-width: rem(1440);
  margin: 0 auto;
  gap: rem(24);

  @include md{
    gap: rem(36);
    padding: rem(60) rem(40);
  }

  @include xl{
    gap: rem(48);
    padding: rem(80) rem(60);
  }
}

.welcomeMessage{
  display: none;
  flex-direction: column;
  gap: rem(12);

  @include md{
    display: flex;
    gap: rem(20);
  }

  @include xl{
    gap: rem(28);
  }
}

.title {
  @include heading_regular;
  font-weight: 500;
  font-size: rem(34);
  line-height: rem(40);
  letter-spacing: rem(0.4);
  color: getColorHex("dark-brown");
  display: block;
  margin: 0;
  text-align: center;
  text-transform: uppercase;

  @include md{
    font-size: rem(48);
    line-height: rem(54);
  }
}

.description {
  @include body_regular;
  font-weight: 400;
  font-size: rem(14);
  line-height: rem(22);
  letter-spacing: rem(0.2);
  color: getColorHex("grey");
  display: block;
  margin: 0;
  text-align: center;
  max-width: rem(670);

  @include md{
    font-size: rem(16);
    line-height: rem(26);
  }
}

.sectionContainer {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  overflow: hidden;
  transition: height 0.3s ease;

  @include md{
    gap: 6%;
    //gap: rem(40);
  }

  @include xl{
    //gap: rem(80);
  }

  & > div{
    //transform: translateX(-100%); //Please remove once finalized
    transition: transform 0.3s ease-in-out;
    align-self: flex-start;

    @include md{
      transition: none;
      transform: none;
    }
  }

  &.isClicked{
    & > div{
      transform: translateX(-100%);

      @include md{
        transform: none;
      }
    }
  }
}

.leftContainer {
  min-width: 100%;
  display: none;
  flex-direction: column;
  width: 100%;
  height: auto;

  @include md{
    display: flex;
    min-width: auto;
    //max-width: rem(300);
    width: 33%;
  }

  &.leftContainerMobile{
    display: flex;
    height: 0;

    @include md{
      display: none;
    }

    .welcomeMessage{
      display: flex;
      margin-bottom: rem(24);

      @include md{
        display: none;
      }
    }

    &.isShowing{
      height: auto;
    }
  }
}

.rightContainer {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  //transition: transform 0.3s ease-in-out, max-height 0.3s ease-in-out !important;
  //max-height: 0;

  @include md{
    //max-height: none;
    //transition: transform 0.3s ease-in-out !important;
    //height: auto;
    min-width: auto;
    //max-width: rem(817);
    width: 61%;
  }

  @include xl{
    
  }

  &.isClicked{
    max-height: 100%;
  }
}

.navButton {
  @include body_regular;
  font-weight: 400;
  font-size: rem(14);
  line-height: rem(22);
  color: getColorHex("green-dark");
  display: flex;
  align-items: center;
  padding: rem(21) 0;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
  gap: rem(12);
  border-bottom: rem(1) solid getColorHex("grey-light");
  text-align: left;

  @include md{
    font-size: rem(16);
    line-height: rem(26);
    padding: rem(24);
    gap: rem(16);
  }

  &:first-child{
    border-top: rem(1) solid getColorHex("grey-light");

    @include md{
      border-top: none;
    }
  }

  &::before{
    content: "";
    background-size: 100%;
    width: rem(20);
    height: rem(20);
    display: flex;

    @include md{
      width: rem(30);
      height: rem(30);
    }
  }

  &.myProfile{
    
    &::before{
      background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 28.7963C2.08309 22.2532 9.16659 17.1205 15.2114 17.1205C20.5867 17.1205 26.7844 21.1799 28.5 26.6811H6.75M21.9544 7.98174C21.9544 11.7254 18.9196 14.7601 15.176 14.7601C11.4323 14.7601 8.39762 11.7254 8.39762 7.98174C8.39762 4.23809 11.4323 1.20337 15.176 1.20337C18.9196 1.20337 21.9544 4.23809 21.9544 7.98174Z' stroke='black' stroke-miterlimit='10'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
    }
  }

  &.bookings{
    
    &::before{
      background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Icon/Calendar' clip-path='url(%23clip0_22218_4593)'%3E%3Cpath id='Vector 10' d='M30.4374 13.8125L1.93738 13.8125' stroke='black'/%3E%3Cpath id='Vector 11' d='M8.76562 0.75V7.875' stroke='black'/%3E%3Cpath id='Vector 12' d='M22.125 0.75L22.125 7.875' stroke='black'/%3E%3Cpath id='Vector 9' d='M28.3594 8.76562V4.3125H1.64062V27.4688H28.3594V17.9688' stroke='black'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_22218_4593'%3E%3Crect width='30' height='30' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
      background-repeat: no-repeat;
    }
  }

  &.myFavourites{
    
    &::before{
      background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Icon/Wishlist'%3E%3Cpath id='Vector' d='M15.5124 26.8594C13.8226 25.717 7.00325 18.9434 3.389 14.0734C2.33103 12.6477 1.79662 10.923 1.8843 9.2168C1.97105 7.5278 2.65636 5.96006 3.81386 4.8025C4.94794 3.66848 6.42271 3.09389 8.08283 3.1436C9.60571 3.18846 11.1416 3.76718 12.4076 4.77324C13.5128 5.65154 14.3683 6.56027 14.8914 7.16787C14.9287 7.21114 14.9754 7.21758 15 7.21758C15.0245 7.21758 15.0713 7.21114 15.1086 7.16787C15.6317 6.56027 16.4873 5.65149 17.5924 4.77324C18.8584 3.76718 20.3943 3.18846 21.9172 3.1436C23.5783 3.09609 25.052 3.66837 26.1861 4.8025C27.3436 5.96006 28.029 7.52775 28.1157 9.2168C28.2034 10.923 27.669 12.6477 26.611 14.0734C24.6408 16.7281 22.0228 19.1557 19.7749 21C19.1461 21.5159 18.6454 21.9112 17.9976 22.4031' stroke='black'/%3E%3C/g%3E%3C/svg%3E");
      background-repeat: no-repeat;
    }
  }

  &::after{
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Icon/Pointer'%3E%3Cg id='Arrow'%3E%3Cmask id='path-1-inside-1_22218_4001' fill='white'%3E%3Cpath d='M8.39999 19.2L15.6 12L8.39999 4.80005'/%3E%3C/mask%3E%3Cpath d='M15.6 12L16.3071 12.7072V11.2929L15.6 12ZM9.1071 19.9072L16.3071 12.7072L14.8929 11.2929L7.69289 18.4929L9.1071 19.9072ZM16.3071 11.2929L9.1071 4.09294L7.69289 5.50716L14.8929 12.7072L16.3071 11.2929Z' fill='%23282828' mask='url(%23path-1-inside-1_22218_4001)'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    width: rem(24);
    height: rem(24);
    display: flex;
    margin: 0 0 0 auto;
  }
}

.navButton:hover {

  @include md{
    background: getColorHex("cream");
  }
}

.activeButton {

  @include md{
    background: getColorHex("cream");
  }
}

.logoutButton {
  width: 100%;
  margin: rem(60) auto 0;

  @include md{
    width: 75.76%;
    margin: rem(32) auto 0;
  }
}

.helpSection {
  margin-top: 56px;

  .helpTitle {
    font-size: 32px;
    margin-bottom: 16px;
  }

  .helpDescription {
    font-size: 16px;
    margin-bottom: 36px;
  }
}

.iconsContainer {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
}


.popupMessageContainer{
  .topContents{
    display: flex;
    flex-direction: column;
    gap: rem(16);
    justify-content: center;
    align-items: center;
    width: 100%;

    svg{
      width: rem(40);
      height: rem(40);

      @include md{
        width: rem(60);
        height: rem(60);
      }
    }

    p{
      @include body_regular;
      font-weight: 400;
      font-size: rem(16);
      line-height: rem(26);
      letter-spacing: rem(0.2);
      color: getColorHex("black-dark");
      margin: 0;
      display: block;
      text-align: center;

      @include md{
        font-size: rem(18);
        line-height: rem(28);
      }

      &.allCaps{
        @include heading_regular;
        font-size: rem(18);
        line-height: rem(26);
        letter-spacing: rem(0.4);
        color: getColorHex("green-dark");
        text-transform: uppercase;

        @include md{
          font-size: rem(26);
          line-height: rem(32);
          letter-spacing: rem(0.6);
        }
      }
    }
  }
}
