@import "./../../../assets/styles/main.scss";

.contactForm {
  max-width: rem(800);
  display: flex;
  flex-direction: column;
  gap: rem(44);
  @include iphone12-fix {
    gap: unset;
    & > *:not(:last-child) {
      margin-bottom: rem(44);
    }
  }
  margin: rem(60 28);

  @include md {
    margin: rem(80) auto;
  }
}

.heading {
  @include heading_regular;
  color: getColorHex("black-dark");
  text-align: center;
  margin: 0;
  font-size: rem(32);
  font-weight: 500;
  line-height: rem(44);
  letter-spacing: rem(0.6);

  [dir="rtl"] & {
    text-align: center;
  }
}

.doubleForm {
  display: grid;
  grid-template-columns: 1fr;
  gap: rem(40);

  @include md {
    grid-template-columns: 1fr 1fr;
  }
}

.switches {
  display: grid;
  grid-template-columns: 1fr;
  gap: rem(8);
  
  @include md {
    grid-template-columns: 1fr 1fr;
    gap: rem(40);
  }
}

.singleForm {
  grid-template-columns: 1fr;
}

.optionSelector {
  display: flex;
  gap: rem(12);
  flex-direction: row;

  @include md {
    gap: rem(24);
  }

  div:last-child {
    width: 100%;
  }
}

.attachmentField {
  display: flex;
  flex-direction: column;
  gap: rem(12);

  .errorMessage {
      @include body_regular;
      color: getColorHex("dark-red");
      margin-top: rem(8);
      font-size: rem(10);
      line-height: rem(14);
      letter-spacing: rem(0.2);
    }
}

.attachment {
  height: rem(80);
  border: none;
  outline: none;
  border: rem(1) solid getColorHex("grey-brown");
  width: 100%;
  position: relative;

  .fileInfo {
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    text-align: center;

    max-width: 100%;   
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis; 
    padding: 0 rem(10); 

    // [dir="rtl"] & {
    //   top: 50%;
    //   right: 0;
    //   left: auto;
    //   transform: translate(-10%, -50%);
    // }
  }

  input {
    cursor: pointer;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}

.btnContainer {
  width: 100%;
  text-align: center;

  .submitBtn {
    width: rem(252);
  }
}

.slidingSwitch {
  display: flex;
  align-items: center;
  gap: rem(14);
  @include iphone12-fix {
    gap: unset; // Disable gap
    & > *:first-child {
      margin-right: rem(14); // Apply spacing only to the switch
    }
  }
}
.slidingSwitchReverse {
  display: flex;
  align-items: center;
  gap: rem(14);
  flex-direction: row-reverse;
  justify-content: space-between;
}
.switchLabel {
  color: getColorHex("grey");
  font-size: rem(10);
  line-height: rem(14);
  letter-spacing: rem(0.2);
}


.labelHover {
  position: relative;
  display: inline-block;
  color: getColorHex("black-dark");
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: rem(1);
    background-color: getColorHex("opulent-bronze");
    transition: width 0.3s ease;
  }

  &:hover {
    color: getColorHex("opulent-bronze");

    &::after {
      width: 100%;
    }
  }
}
