@import "./../../../assets/styles/main.scss";

.exploreBrandContainer {
  width: 100%;
  padding: 0 rem(20);
  text-align: center;
  // margin: rem(60) 0 0 0;
  // @include md {
  //   margin: rem(120) 0 0 0;
  // }
}

.title {
  font-size: rem(28);
  margin-bottom: rem(16);
  color: getColorHex("opulent-bronze");
  @include md {
    font-size: rem(40);
    margin-bottom: rem(20);
  }

  [dir="rtl"] & {
    text-align: center;
  }
}

.description {
  p {
    @include body_light;
    font-size: rem(14);
    padding-bottom: rem(20);
    width: 100%;
    color: getColorHex("black-dark");
    line-height: rem(22);
    font-weight: 300;
    @include md {
      font-size: rem(16);
      padding-bottom: rem(32);
      line-height: rem(26);
      font-weight: 400;
      width: rem(800);
      margin: 0 auto;
      text-align: center;
    }
  }
}

.logoCarousel {
  overflow: hidden;
  position: relative;
  width: 100%;
  margin-bottom: rem(28);
  @include md {
    margin-bottom: rem(48);
  }
}

.logoTrack {
  display: flex;
  width: max-content;
}

.logoItem {
  flex: 0 0 auto;
  width: rem(220);
  height: rem(132);
  border: rem(1) solid getColorHex("tint-grey");
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: rem(4);
  box-sizing: border-box;
  cursor: pointer;
  @include md {
    margin-right: rem(36);
    width: rem(280);
    height: rem(144);
  }

  &.noLink {
    cursor: default;
  }
}

.logoContainer {
  padding: rem(20);
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

span.logoContainer {
  cursor: default;
}

.viewAllButton {
  display: flex;
  justify-content: center;

  [dir="rtl"] & {
    margin: 0 auto;
    justify-content: center;
  }
  button {
    font-size: rem(14);
    line-height: rem(18);
    font-weight: 400;
  }
}
