@import "./../../../assets/styles/main.scss";

.brandBannerContainer {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  position: relative;
  background-color: getColorHex("cream");
  flex-direction: column-reverse;
  // margin: rem(60) 0 0 0;
  // @include md {
  //   margin: rem(120) 0 0 0;
  // }

  @include lg {
    flex-direction: row;
    height: rem(580);
  }
}

.textContainer {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  padding: rem(40 28 40);
  position: relative;

  @include xl {
    padding: rem(0 100 0 0);
    [dir="rtl"] & {
      padding: rem(0 0 0 100);
    }
  }
}

.brandBannerIcon {
  position: absolute;
  left: rem(-40);
  top: 78%;
  transform: translateY(-50%);
  width: rem(80);
  height: auto;

  svg {
    height: rem(300);
  }

  [dir="rtl"] & {
    right: rem(-40);
    left: auto;
  }

  @include md-max {
    top: 72%;
  }
  @include lg {
    top: 50%;

    svg {
      height: auto;
    }
  }
}

.innerContent {
  max-width: rem(440);
  width: 100%;
  text-align: left;

  .title {
    margin-bottom: rem(20);
    text-align: center;
    margin-top: 0;
    @include heading_light_italic;
    font-size: rem(34);
    line-height: rem(40);
    font-weight: 500;

    @include lg {
      color: getColorHex("black-dark");
      text-align: left;
      font-size: rem(48);
      margin-bottom: rem(20);
      line-height: rem(54);
      max-width: rem(440);
    }

    [dir="rtl"] & {
      text-align: right;
      line-height: rem(66);
    }
  }
}

.title {
  p {
    @include heading_light_italic;
    font-size: rem(32);
    color: getColorHex("black-dark");
    margin-bottom: rem(16);
    text-align: center;
    margin-top: 0;

    @include lg {
      text-align: left;
      font-size: rem(40);
    }
  }
}

h2.title.sansArabicTitle {
  @include body_regular;
}

.richTextContainer {
  @include body_regular;
  font-size: rem(16);
  color: getColorHex("black-dark");
  word-break: normal;
  text-align: center;

  [dir="rtl"] & {
    text-align: right;
  }

  .richTextContainer > div {
    text-align: center;

    @include lg {
      text-align: left;
    }
  }

  @include lg {
    font-size: rem(18);
    text-align: left;
    line-height: rem(28);
    letter-spacing: rem(0.4);
  }
}

.mediaContainer {
  flex: 1;
  height: rem(580);
  width: 100%;
  position: relative;

  img {
    width: 100%;
    height: rem(315);
    object-fit: cover;

    @include sm {
      height: rem(580);
    }
  }

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @include xl {
    margin-bottom: rem(0);
  }
}
