@import "./../../../../assets/styles/main.scss";

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: rem(40 28);
  padding-bottom: rem(32);

  @include md {
    display: none;
  }

  .title {
    @include heading_light;
    color: getColorHex("black-dark");
    font-size: rem(14);
    font-weight: 500;
    line-height: rem(20);
    letter-spacing: rem(0.4);
    text-transform: uppercase;
  }
}
