@import './../../../assets/styles/main.scss';
.introContainerDesk {
  display: none;
  @include xl {
    display: block;
  }
}
.introContainerMobile {
  display: block;
  @include xl {
    display: none;
  }
}