@import "./../../../assets/styles/main.scss";

.navigationLink {
  transition: all 0.2s;
  &:hover {
    color: getColorHex("opulent-bronze");
  }
  &:active {
    transform: translateY(rem(1));
  }
}
