@import "./../../../assets/styles/main.scss";
.container {
  display: flex;
  // margin: rem(60) 0 0 0;
  // @include md {
  //   margin: rem(120) 0 0 0;
  // }
  justify-content: center;

  .containerColumns {
    display: flex;
    flex-direction: column;
    gap: rem(52);
    @include iphone12-fix {
      gap: unset;
      & > * {
        margin-bottom: rem(52);
      }
      & > *:last-child {
        margin-bottom: rem(0);
      }
    }
    margin: rem(0 32);
    width: 100%;

    @include md {
      flex-direction: row;
    }
    @include lg {
      margin: rem(0 60);
    }
  }
}

.gradient {
  border-radius: rem(16) 0 rem(16) 0;
}

.column {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: rem(40);
  @include iphone12-fix {
    gap: unset;
    & > * {
      margin-bottom: rem(40);
    }
    & > *:last-child {
      margin-bottom: rem(0);
    }
  }
  flex: 1;

  .image {
    border-radius: rem(16) 0 rem(16) 0;
    object-fit: cover;
    width: 100%;
    height: rem(336);
    z-index: -1;
    position: relative;

    @include xl {
      height: rem(636);
      width: 100%;
    }
  }

  .articleInfo {
    display: flex;
    flex-direction: column;
    gap: rem(16);
    @include iphone12-fix {
      gap: unset;
      & > * {
        margin-bottom: rem(16);
      }
      & > *:last-child {
        margin-bottom: rem(0);
      }
    }
    align-items: center;

    [dir="rtl"] & {
      align-items: center;
    }

    span.btn {
      text-transform: capitalize;
    }
  }
}

.label {
  @include body_regular;
  border-radius: 4px 0px;
  background: getColorHex("tint-grey");
  padding: rem(6) rem(12);
  color: getColorHex("black-dark");
  font-size: rem(10);
  line-height: rem(14);
  letter-spacing: rem(0.2);
  text-transform: uppercase;
}

.headingPrimary {
  @include heading_light;
  color: getColorHex("opulent-bronze");
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  // margin-top: rem(8);

  [dir="rtl"] & {
    text-align: right;
  }

  @include md {
    font-size: rem(26);
  }
}

.description {
  @include body_regular;
  color: getColorHex("black-dark");
  text-align: center;
  font-size: rem(14);
  line-height: rem(22);
  margin-bottom: rem(8);

  [dir="rtl"] & {
    text-align: center;
  }

  @include md {
    font-size: rem(16);
    line-height: rem(26);
  }
}
