@import "./../../../assets/styles/main.scss";

.media {
  height: 100vh;
  max-height: rem(742);
  position: relative;
  overflow: hidden;

  @include xl {
    max-height: rem(860);
  }
}

.heading {
  @include heading_regular;
  color: getColorHex("white");
  text-align: center;
  font-size: rem(48);
  font-weight: 500;
  line-height: rem(54);
  letter-spacing: rem(0.4);
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 666;
  opacity: 0;
  animation: slideIn 1s forwards 0.3s;
  width: 100%;
  padding: 0 rem(28);

  @include xl {
    padding: 0;
    max-width: rem(500);
  }
}

.image {
  display: flex;
  object-fit: cover;
  height: 100vh;
  max-height: rem(371);
  width: 100%;

  @include xl {
    max-height: rem(860);
  }
}

.imagesContainer {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 999;
  flex-direction: column;

  @include xl {
    flex-direction: row;
  }
}

.imageContainer {
  position: relative;

  .top {
    top: 00%;
    transform: translate(-50%, 10%);
  }

  .bottom {
    bottom: 00%;
    transform: translate(-50%, -10%);
  }

  .center {
    bottom: 50%;
    transform: translate(-50%, 50%);
  }

  .textContainer {
    position: absolute;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(16);
    z-index: 999;
    padding: 0 rem(28);
    width: 100%;

    @include xl {
      max-width: rem(450);
      width: rem(450);
      padding: 0;
    }

    .title {
      color: getColorHex("white");
      text-align: center;

      @include heading_regular;
      font-weight: 500;
      letter-spacing: rem(0.4);
      text-transform: uppercase;
      margin: 0;
      font-size: rem(34);
      line-height: rem(40);

      @include xl {
        line-height: rem(54);
        font-size: rem(48);
      }
    }
    .desc {
      @include body_regular;
      color: getColorHex("white");
      text-align: center;

      line-height: rem(22);
      letter-spacing: rem(0.2);
      font-size: rem(14);
      @include xl {
        font-size: rem(16);
        line-height: rem(26);
      }
    }

    .descContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      @include lg {
        opacity: 0;
        height: 0;
        transition: all 1.2s;
      }
    }

    .discoverBtn {
      @include body_regular;
      color: getColorHex("black");
      text-align: center;
      font-size: rem(14);
      line-height: rem(18);
      letter-spacing: rem(1);
      text-transform: uppercase;
      margin-top: rem(28);
      border: none;

      &.whiteHover{

        &:hover{
          background: getColorHex("white");
        }
      }
    }
  }

  &:hover {
    .textContainer {
      .descContainer {
        opacity: 1;
        height: rem(106);
      }
    }
  }

  .mobileText {
    .descContainer {
      // transform: translateY(rem(210));
      height: 0;
      opacity: 0;
      transition: all .3s;
    }
    &:hover {
        opacity: 1;
        height: rem(362);
    }
  }
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.leftImageContainer,
.rightImageContainer {
  opacity: 0; /* Initially hidden */
  transition: all 1s;
  width: 100%;

  @include xl {
    width: 50%;
    max-height: rem(860);
    &:hover {
      width: 60%;
    }
  }

  /* Apply keyframes animation when triggered */
  &.slideInLeft {
    // animation: slideInLeft 1.3s ease-in-out forwards; /* Trigger left slide animation */
    animation: slideInLeft 1.3s cubic-bezier(0.36, -0.23, 0.3, 1.48) forwards; /* Trigger left slide animation with custom cubic-bezier */
  }

  &.slideInRight {
    animation: slideInRight 1.3s cubic-bezier(0.36, -0.23, 0.3, 1.48) forwards; /* Trigger right slide animation */
  }
}

.leftImageContainer {
  /* Initially off-screen */
  transform: translateX(-100%);
}

.rightImageContainer {
  /* Initially off-screen */
  transform: translateX(100%);
}

.leftImage,
.rightImage {
  @include xl {
    transform: scale(1) !important;
    transition: all 1s;

    &:hover {
      transform: scale(1.1) !important;
    }
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    top: 100%;
  }
  85% {
    top: 48%;
  }
  100% {
    opacity: 1;
    top: 50%;
  }
}
