@import "../../assets/styles/main.scss";

.heroBannerWrapper{
  overflow: hidden;
  
  & > div{
    height: rem(393);

    @include md{
      height: rem(420);
    }
  }

  & > div > div:first-child{
    
  }

  /*& > div > div:last-child > div:first-child{
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5))
  }

  & > div > div:last-child > div > div:last-child{
    display: none;
  }*/
}

.storeLocatorContainer{
  padding: 0 rem(28) rem(60); 
  display: flex;
  flex-direction: column;
  row-gap: rem(10);
  //margin-top: rem(32);
  margin: rem(32) auto 0;
  max-width: rem(1440);
  
  @include md{
    row-gap: rem(40);
    //margin-top: rem(60);
    margin: rem(60) auto 0;
    padding: 0 rem(60) rem(90);
    row-gap: rem(32);
  }

  @include xl{
    padding: 0 rem(60) rem(120);
  }

  & > div{
    h1, h2, h3, h4, h5, h6, p, a, button{
      @include rolex_regular;
      letter-spacing: rem(0.4);
    }
  }
}

.productInfoContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: rem(16);

  @include md{
    column-gap: rem(20);
  }

  &Image{
    display: flex;
    width: 100%;
    max-width: rem(100);
    position: relative;
    border: rem(1) solid getColorHex("grey-light");

    @include md{
      max-width: rem(120);
    }

    img{
      display: flex;
      width: 100%;
    }
  }

  &Texts{
    display: flex;
    flex-direction: column;
    padding: rem(16) 0 0 0;
    row-gap: rem(8);
    width: 100%;

    @include md{
      padding: rem(20) 0 0 0;
    }

    h6{
      @include rolex_bold;
      font-size: rem(12);
      line-height: rem(18);
      font-weight: 500;
      letter-spacing: rem(0.4);
      color: getColorHex("black");
      display: block;
      text-transform: uppercase;
      margin: 0;

      @include md{
        @include rolex_regular;
        font-size: rem(16);
        line-height: rem(20);
        font-weight: 400;
      }
    }

    p{
      @include rolex_regular;
      font-size: rem(16);
      line-height: rem(26);
      font-weight: 400;
      letter-spacing: rem(0.4);
      color: getColorHex("black-dark");
      display: block;
      margin: 0;

      @include md{
        font-size: rem(18);
        line-height: rem(28);
      }
    }

    span{
      @include rolex_regular;
      font-size: rem(10);
      line-height: rem(14);
      font-weight: 400;
      letter-spacing: rem(0.4);
      color: getColorHex("black");
      display: block;
      margin: 0;
    }
  }
}

.tabsSwiperContainer {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: rem(20);

  @include md{
    justify-content: space-between;
    flex-direction: row;
  }
}

.filtersContainer{
  display: flex;
  width: auto;

  .filterButton{
    display: flex;
    align-items: center;
    column-gap: rem(8);
    flex-wrap: nowrap;
    height: rem(40);
    min-width: rem(145);
    padding: rem(8) rem(12);
    border-radius: rem(4);
    border: rem(1) solid getColorHex("grey-light");
    background: none;
    
    span{
      @include rolex_regular;
      color: getColorHex("black-dark");
      font-weight: 400;
      font-size: rem(14);
      line-height: rem(22);
      letter-spacing: rem(0.4);
      text-transform: uppercase;
      white-space: nowrap;
    }
  }
}

.storeListContainer{
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  position: relative;
  //row-gap: rem(32);

  @include sm{
    //row-gap: rem(60);
  }

   h1, h2, h3, h4, h5, h6, p, a, button{
     @include rolex_regular;
     letter-spacing: rem(0.4);
   }
}

.loadMore{
  margin: rem(32) auto 0;

  @include sm{
    margin: rem(60) auto 0;
  }
}

.storeList{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: rem(32);
  margin: 0;
  list-style: none;
  padding: 0;

  @include sm{
    //row-gap: rem(20);
    padding: 0 rem(20);
  }

  @include md{
    row-gap: rem(60);
  }

  .store{
    display: flex;
    flex-direction: column;
    width: 100%;
    cursor: pointer;

    @include sm{
      width: calc(50% - 10px);
    }

    &ImageContainer{
      display: flex;
      position: relative;
      overflow: hidden;
      margin: 0 0 rem(20);
      -webkit-border-top-left-radius: rem(16);
      -webkit-border-bottom-right-radius: rem(16);
      -moz-border-radius-topleft: rem(16);
      -moz-border-radius-bottomright: rem(16);
      border-top-left-radius: rem(16);
      border-bottom-right-radius: rem(16);
      min-height: rem(224);

      

      @include sm{
        -webkit-border-top-left-radius: rem(30);
        -webkit-border-bottom-right-radius: rem(30);
        -moz-border-radius-topleft: rem(30);
        -moz-border-radius-bottomright: rem(30);
        border-top-left-radius: rem(30);
        border-bottom-right-radius: rem(30);
        min-height: rem(167);
      }
    }

    &Image{
      display: flex;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    .nearestStore{
      @include rolex_regular;
      font-weight: 400;
      font-size: rem(10);
      line-height: rem(14);
      letter-spacing: rem(0.2);
      color: getColorHex("black-dark");
      text-transform: uppercase;
      display: flex;
      position: absolute;
      left: rem(20);
      top: rem(20);
      background-color: getColorHex("green-greyish");
      padding: rem(6) rem(12);
      margin: 0;
      -webkit-border-top-left-radius: rem(4);
      -webkit-border-bottom-right-radius: rem(4);
      -moz-border-radius-topleft: rem(4);
      -moz-border-radius-bottomright: rem(4);
      border-top-left-radius: rem(4);
      border-bottom-right-radius: rem(4);
    }

    &Details{
      display: flex;
      flex-direction: column;
      row-gap: rem(8);

      @include sm{
        row-gap: rem(12);
      }
    }
    
    &Name{
      @include rolex_regular;
      font-weight: 500;
      font-size: rem(18);
      line-height: rem(26);
      letter-spacing: rem(0.4);
      color: getColorHex("black-dark");
      display: block;
      margin: 0;

      @include sm{
        font-size: rem(20);
        line-height: rem(30);
        letter-spacing: rem(0.6);
      }
    }

    &Location{
      display: flex;
      align-items: center;
      gap: rem(3);

      p{
        @include rolex_regular;
        font-weight: 300;
        font-size: rem(14);
        line-height: rem(22);
        letter-spacing: rem(0.2);
        color: getColorHex("black-dark");
        display: flex;
        align-items: center;
        gap: rem(3);

        span{
          display: flex;
          align-items: center;
          gap: rem(3);

          &:last-child{

            &::before{
              content: "|";
            }
          }
        }
      }
    }
  }
}

.mapContainer{
  display: flex;
  width: 100%;
  overflow: hidden;
  margin: 0 0 rem(20);
  -webkit-border-top-left-radius: rem(16);
  -webkit-border-bottom-right-radius: rem(16);
  -moz-border-radius-topleft: rem(16);
  -moz-border-radius-bottomright: rem(16);
  border-top-left-radius: rem(16);
  border-bottom-right-radius: rem(16);
  height: rem(363);

  @include md{
    -webkit-border-top-left-radius: rem(30);
    -webkit-border-bottom-right-radius: rem(30);
    -moz-border-radius-topleft: rem(30);
    -moz-border-radius-bottomright: rem(30);
    border-top-left-radius: rem(30);
    border-bottom-right-radius: rem(30);
    height: rem(860);
    margin: 0;
  }
}

.map{
  display: block;
  width: 100%;
  max-height: rem(224);
  height: rem(500);
  max-height: rem(363);

  @include md{
    max-height: rem(860);
  }
}

.fadeIn {
  opacity: 1;
  transition: opacity 0.3s ease-in;
}

.fadeOut {
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

.popupFadeIn {
  opacity: 1;
  transition: opacity 0.3s ease-in;
}

.popupFadeOut {
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

.searchInputContainer{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  border: none;
  border-bottom: rem(1) solid getColorHex("grey-light");
  margin-bottom: rem(28);
  height: rem(48);
  gap: rem(12);

  @include md{
    margin-bottom: rem(29);
    gap: rem(20);
  }
}

.searchIcon{
  width: rem(20);
  height: rem(20);

  @include md{
    width: rem(24) !important;
    height: rem(24);
  }
}

.searchInput{
  @include rolex_regular;
  font-weight: 400;
  font-size: rem(12);
  line-height: rem(20);
  letter-spacing: rem(0.2);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  border: none;
  height: rem(48);
  padding: 0;

  @include md{
    font-size: rem(14);
    line-height: rem(22);
  }
}

.locationCheckboxContainer{
  margin-top: rem(28);

  @include md{
    margin-top: rem(29);
  }
}

.selectedOptions {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: rem(32);
  gap: rem(16);
  
  @include md {
    gap: rem(20); 
  }

  .selectedOption {
    background-color: getColorHex("green-greyish");
    padding: rem(6 12);
    border-radius: rem(4);
    display: flex;
    align-items: center;
    gap: rem(10);
    .option {
      @include rolex_regular;
      font-size: rem(10);
      @include md {
        font-size: rem(14);
      }
    }
  }

  .deleteOption {
    cursor: pointer;
    svg {
      width: rem(10);
      height: rem(10);
      color: getHexColor("green-dark");
    }
  }

  &:empty{
    display: none;
  }
}

.optionsContainer{
  display: none;
  width: 100%;
  gap: rem(16);

  @include md{
    display: flex;
  }

  .selectedOptions{
    margin: 0;
  }
}

.rolexNavbar{
    padding-top: rem(104);

    @include md{
      padding-top: rem(124)
    }

    @include lg{
      padding-top: rem(118);

      &.scrolled{
        padding-top: rem(118);
      }
    }
}

.sideDraweContainer{

  h1, h2, h3, h4, h5, h6, p, a, button{
    @include rolex_regular;
    letter-spacing: rem(0.4);
  }
}