@import "../../../assets/styles/main.scss";

.recaptchaContainer {
  width: 100%;
  margin-bottom: rem(20);
  display: flex;
  align-items: center;
  justify-content: center;
}

.recaptcha {
  width: fit-content;
  position: relative;
}

.recaptchaError {
  bottom: rem(-12);

  @include breakpoint("md") {
    bottom: rem(-15);
  }
}