@import "./../../../../assets/styles/main.scss";

.rolexImageBannerContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.imageContainer {
  position: relative;
  width: 100%;
  height: rem(392);

  img {
    width: 100%;
    height: rem(392);
    object-fit: cover;
  }

  .desktopImage {
    display: none;
  }

  .mobileImage {
    display: block;
    height: rem(392);
  }

  @include md {
    height: rem(450);

    img {
      width: 100%;
      height: rem(450);

      object-fit: cover;
    }

    .desktopImage {
      display: block;
      height: rem(450);
    }

    .mobileImage {
      display: none;
    }
  }
}
