@import "./../../../assets/styles/main.scss";

.container {
  text-align: center;
  // margin: rem(60) 0 0 0;
  // @include md {
  //   margin: rem(120) 0 0 0;
  // }
  display: flex;
  flex-direction: column;
  gap: rem(28);
}

.containerHeader {
  margin: 0 rem(28);
  display: flex;
  flex-direction: column;
  gap: rem(16);
  @include iphone12-fix {
    gap: unset;
    & > *:not(:last-child) {
      margin-bottom: rem(16);
    }
  }
  @include md {
    max-width: rem(800);
    margin: 0 auto;
  }
}
.headingPrimary {
  color: getColorHex("opulent-bronze");
  margin: 0;
  text-transform: uppercase;
  font-size: rem(28);

  @include heading_light;
  @include md {
    font-size: rem(40);
  }

  [dir="rtl"] & {
    text-align: center;
  }
}

.headingSecondary {
  line-height: rem(22);
  color: getColorHex("black-dark");
  font-size: rem(14);
  letter-spacing: rem(0.4);

  @include body_regular;
  @include md {
    line-height: rem(26);
    font-size: rem(16);
  }
  
  div {
    p {
      [dir="rtl"] & {
        line-height: 1.7;
      }
    }
  }


  [dir="rtl"] & {
    text-align: center;
    
  }
}

.highlightedText {
  @include heading_light;
  font-size: rem(26);
  font-weight: 500;
  line-height: rem(36);
  letter-spacing: rem(0.6);
  text-align: center;
}

.bar {
  width: rem(70);
  height: rem(2);
  background: getColorHex("metallic");
  margin: 0 auto;

  [dir="rtl"] & {
    margin: 0 auto;
  }
}

// .aboutBtn {
//   background: getColorHex("green-dark");
// }

.cta {
  min-width: rem(200);
}

.headingPrimary,
.headingSecondary,
.desc {
  text-align: center;

  p{
    margin: 0;
  }
}

.desc.leftAligned {
  text-align: left;

  p{
    margin: 0;
  }
}

.leftAligned {
  text-align: left;
}

.centerAligned {
  text-align: center;

  [dir="rtl"] & {
    text-align: center;
  }
}
.rightAligned {
  text-align: right;

  [dir="rtl"] & {
    text-align: right;
  }
}

.btnContainer {
  display: flex;
  justify-content: center;
  margin: rem(0 28);
  [dir="rtl"] & {
    justify-content: center;
  }

  @include md {
    width: rem(800);
    margin: 0 auto;
  }
}
