@import './../../../../assets/styles/main.scss';


.passwordCriteriaColumn {
    grid-template-columns: 1fr;
  }
  
  .passwordCriteria {
    margin-top: rem(10);
    display: grid;
    grid-template-columns: 1fr;
  
    @include md {
      grid-template-columns: 1fr 1fr;
    }
  
    div {
      font-size: rem(14);
      margin: rem(5) 0;
      display: flex;
      align-items: center;
    }
  
    .valid {
      color: getColorHex("grey");
      display: flex;
      align-items: center;
      gap: rem(8);
      font-size: rem(10);
      line-height: rem(14);
      letter-spacing: rem(0.2);
    }
  
    .invalid {
      color: getColorHex("dark-red");
    }
    
    svg {
      width: rem(12);
      height: rem(12);
      flex-shrink: 0;
    }
  }
  
  