@import "./../../../assets/styles/main.scss";

.containerHeader {
  display: flex;
  flex-direction: column;
  z-index: 1000;
  padding: rem(0 28);
  gap: rem(20);
  @include iphone12-fix {
    gap: unset;

    & > * {
      margin-top: rem(20);
    }
  }
  align-items: stretch;

  @include md {
    padding: rem(0);
    max-width: rem(800);
    margin: 0 auto;
  }
  max-width: rem(800);
  width: 100%;

  // [dir="rtl"] & {
  //   margin: 0 auto;
  //   padding: rem(0);
  //   align-items: flex-start;
  // }
}
.bar {
  width: rem(70);
  height: rem(2);
  text-align: center;
  margin: 0 auto;
  background-color: getColorHex("metallic");
  background-color: getColorHex("metallic");

  // [dir="rtl"] & {
  //   margin: 0;
  // }
}

.headingPrimary {
  @include heading_light;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-size: rem(28);
  color: getColorHex('opulent-bronze');
  
  @include md {
    font-size: rem(40);
  }

  [dir="rtl"] & {
    text-align: center;
    line-height: 1.5;
  }
  @include iphone12-fix {
    gap: unset; // Remove gap for fallback

    & > * {
      padding-bottom: rem(20);
    }
  }
}
.headingSecondary {
  color: getColorHex("black-dark");
  line-height: rem(26);
  @include body_regular;

  font-size: rem(14);
  line-height: rem(22);
  letter-spacing: rem(0.4);
  text-align: center;

  @include md {
    line-height: rem(26);
    font-size: rem(16);
  }

  [dir="rtl"] & {
    text-align: center;
  }
  @include iphone12-fix {
    gap: unset; // Remove gap for fallback

    & > * {
      padding-bottom: rem(8);
    }
  }

  p{
    margin: 0;
  }
}
