@import "./../../../../assets/styles/rolex/rolexMain.scss";

.newCollectionsWrapper{
  display: flex;
  flex-direction: column;
  row-gap: rem(60);
  width: 100%;
  max-width: rem(1920);
  margin: 0 auto;
  padding: 0 rem(28);
  overflow: hidden;

  @include md{
    padding: 0 7.639%;
  }

  @include lg{
    row-gap: rem(90);
  }

  &.white {
    background: getColorHex("white");

    .newCollectionsSwiper{
      
      &::before, &::after{
        background: getColorHex("white");
      }
    }
  }

  &.beige {
    background: getColorHex("beige");

    .newCollectionsSwiper{
      
      &::before, &::after{
        background: getColorHex("beige");
      }
    }
  }

  &.grey_pampas {
    background: getColorHex("grey-pampas");

    .newCollectionsSwiper{
      
      &::before, &::after{
        background: getColorHex("grey-pampas");
      }
    }
  }

  &.grey_light {
    background: getColorHex("grey-light");

    .newCollectionsSwiper{
      
      &::before, &::after{
        background: getColorHex("grey-light");
      }
    }
  }

  .textsContainer{
    display: flex;
    flex-direction: column;
    row-gap: rem(20);
    
    @include lg{
      flex-direction: row;
      column-gap: rem(40);
    }

    @include xl{
      column-gap: rem(80);
    }
  }

  .title{
    @include rolex_bold;
    font-size: rem(30);
    line-height: rem(34);
    color: getColorHex("rolex-brown");
    display: block;
    margin: 0;
    width: 100%;

    @include lg{
      font-size: rem(40);
      line-height: rem(44);
      //width: calc(50% - 20px);
    }

    @include xl{
      //width: calc(50% - 40px);
    }

    h2{
      width: 100%;
    }
  }

  .richTextContainer{
    @include rolex_regular;
    font-size: rem(16);
    line-height: rem(24);
    color: getColorHex("black");
    display: flex;
    width: 100%;

    @include lg{
      //width: calc(50% - 20px);
      padding-right: rem(40);

      [dir="rtl"] & {
        padding-left: rem(40);
      }
    }

    @include xl{
      //width: calc(50% - 40px);
      padding-right: rem(80);

      [dir="rtl"] & {
        padding-left: rem(80);
      }
    }
  }

  .product{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
    width: 100%;
    background: getColorHex("black");

    img{
      position: relative !important;
      height: auto !important;
      aspect-ratio: 1/1;
    }

    &Details{
      display: flex;
      flex-direction: column;
      background: getColorHex("black");
      padding: rem(28) rem(20);

      @include lg{
        padding: rem(48);
      }
    }
  }

  .brand, .model, .desc{
    @include rolex_bold;
    font-size: rem(12);
    line-height: rem(16);
    color: getColorHex("white");
    margin: 0;
    text-align: left;
    display: block;

    @include md{
      font-size: rem(14);
      line-height: rem(18);
    }

    [dir="rtl"] & {
      text-align: right;
    }
  }

  .model{
    font-size: rem(16);
    line-height: rem(20);
    margin: 0 0 rem(4);

    @include md{
      font-size: rem(20);
      line-height: rem(26);
    }
  }

  .desc{
    @include rolex_light;
    font-size: rem(12);
    line-height: rem(18);

    @include md{
      font-size: rem(14);
    }
  }

  .newCollections{
    display: flex;
    flex-direction: column;
    row-gap: rem(35);

    @include md{
      row-gap: rem(40);
    }
  }

  .newCollectionsSwiper {
    opacity: 0;

    @include md {
      overflow: visible;
    }
    
    &:global(.swiper-initialized) {
      opacity: 1;
    }

    &::before, &::after{
      content: "";
      background: getColorHex("white");
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      transform: translateX(-100%);
      z-index: 10;
    }

    &::after{
      transform: translateX(100%);
    }

    & > div {
      & + div {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: none;
        background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='32' height='32' rx='16' fill='%23F2F2F2'/%3E%3Cg clip-path='url(%23clip0_210_5134)'%3E%3Cpath d='M20.5 16L19.2 17.4L13.1 23.5L11.6 22L17.7 15.9L11.5 9.9L13 8.5L19.1 14.6L20.5 16Z' fill='%23212121'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_210_5134'%3E%3Crect width='15' height='15' fill='white' transform='translate(8.5 8.5)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='32' height='32' rx='16' fill='%23F2F2F2'/%3E%3Cpath d='M19 16L18.1333 16.9333L14.0667 21L13.0667 20L17.1333 15.9333L13 11.9333L14 11L18.0667 15.0667L19 16Z' fill='%23462C1F'/%3E%3C/svg%3E%0A");
        background-size: rem(32);
        width: rem(32);
        height: rem(32);

        @include md {
          display: block;
        }

        &:after {
          content: none;
        }

        &:global(.swiper-button-prev) {
          z-index: 11;
          transform: translateY(-50%) rotate(-180deg);

          @include md {
            display: flex;
            left: rem(-46);
          }

          @include xl {
            left: rem(-76);
          }
        }

        &:global(.swiper-button-next) {
          z-index: 11;

          @include md {
            display: flex;
            right: rem(-46);
          }

          @include xl {
            right: rem(-76);
          }
        }

        &:global(.swiper-button-disabled) {
          display: none;
        }
      }

      &:global(.swiper-pagination) {
        display: flex;
        gap: rem(6);
        align-items: center;
        justify-content: center;
        width: auto;
        height: auto;
        background: none;
        position: relative;
        border: 0;
        top: auto;
        bottom: auto;
        transform: translate(0, 0);
        margin: rem(26) 0 0;

        @include md {
          margin: rem(42) 0 0;
        }

        @include xl{
          display: none;
        }

        & > span {
          margin: 0;
          background: getColorHex("rolex-grey");
          opacity: 1;
          border-radius: 0;
          width: rem(16);
          height: rem(2);
          transition: width 0.3s ease;

          &:global(.swiper-pagination-bullet-active) {
            background-color: getColorHex("rolex-green");
            width: rem(40);
          }
        }
      }
    }

    .newCollectionsSwiperSlide{
      display: flex;
      flex-direction: column;
      height: auto;
    }
  }

  .ctaButton{
    @include rolex_bold;
    display: flex;
    height: rem(40);
    justify-content: center;
    align-items: center;
    border-radius: rem(100);
    background-color: getColorHex("rolex-green");
    color: getColorHex("white");
    text-align: center;
    font-size: rem(12);
    line-height: rem(16);
    padding: 0 rem(10);
    width: 100%;
    max-width: rem(149);
    letter-spacing: 0;
    margin: 0 auto;

    @include md{
      height: rem(44);
    }
  }
}

