@import "./../../../assets/styles/main.scss";

.quoteCarouselWrapper {
  width: 100%;
  // margin: rem(60) 0 0 0;
  // @include md {
  //   margin: rem(120) 0 0 0;
  // }
  background-color: getColorHex("white");

  &.primary {
    background-color: getColorHex("white");
    .quoteCarouselContainer {
      padding: rem(60) rem(28);
    }
  }

  &.secondary {
    background-color: getColorHex("light-cream");
    .quoteCarouselContainer {
      padding: rem(60) rem(28);
    }
  }
}

.quoteCarouselContainer {
  padding: rem(0) rem(28);
  margin: 0 auto;
  position: relative;
  max-width: rem(1440);
  width: 100%;

  @include xl {
    padding: rem(100);
  }
}

.quoteBlockContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  [dir="rtl"] & {
    align-items: center;
    text-align: center;
  }
}

.logo {
  margin-bottom: rem(20);
  min-height: rem(20);

  img {
    max-width: rem(100);
    height: auto;
  }

  .logoPlaceholder {
    height: rem(20);
  }
}

.richTextContainer {
  position: relative;
  margin-bottom: rem(20);
  width: 100%;
  @include lg {
    width: 73%;
  }

}

.richText {
  @include heading_light;
  font-size: rem(22);
  color: getColorHex("black-dark");
  position: relative;
  text-align: center;

  span {
    margin: rem(15);
    @include md {
      margin: rem(40);
    }
  }

  @include md {
    font-size: rem(32);
  }

  &:before,
  &:after {
    content: "“";
    position: absolute;
    font-size: rem(40);
    color: getColorHex("chocolate-brown");
    @include md {
      font-size: rem(80);
    }
  }

  &:before {
    top: rem(5);
    left: rem(25);
    transform: translate(-100%, -50%);
    @include lg {
      top: rem(35);
      left: rem(-25);
    }
  }

  &:after {
    bottom: rem(-25);
    right: rem(30);
    transform: translate(100%, 50%);
    content: "”";
    @include lg {
      bottom: rem(-25);
      right: rem(-15);
    }
  }
}

.richText.sansArabic {
  @include body_light;
}

.nameSource {
  @include heading_light;
  font-size: rem(16);
  margin-bottom: rem(8);
  color: getColorHex("grey");
  h5 {
    margin: 0;
  }
  @include md {
    font-size: rem(20);
  }
}

.nameDesignation {
  @include body_light;
  font-size: rem(12);
  color: getColorHex("grey");
  p {
    margin: 0;
  }
  @include md {
    font-size: rem(14);
  }
}

.carouselBtnsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: rem(40);
}
